{% load static %}
{% comment %} <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="issueSheetNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Forklift
    </a>
    <ul class="dropdown-menu" aria-labelledby="issueSheetNavbarDropdown">
        <li><a class="dropdown-item" href="/core/forklift-checklist">Forklift Checklist</a></li>
    </ul>
</li> {% endcomment %}
<li class="nav-item dropdown" id="blendingDropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Blending
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/core/subcomponent-shortages">Blend Component Shortages</a></li>
        <li><a class="dropdown-item" href="/core/tank-levels">Tank Levels</a></li>
        <li><a class="dropdown-item" href="/core/lot-num-records?recordType=blend">Lot Numbers</a></li>
        <li><a class="dropdown-item" href="/core/blend-shortages?recordType=blend">Blend Shortages</a></li>
        <li><a class="dropdown-item" href="/core/blend-statistics">Blend Statistics</a></li>
        <li><a class="dropdown-item" href="/core/display-ghs-label-search">GHS Labels</a></li>
        <li><a class="dropdown-item" href="/core/reports">Misc. Reports</a></li>
        <li><a class="dropdown-item" href="/core/truck-rail-material-schedule">Truck & Rail Schedule</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=all">All Scheduled Blends</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Desk_1">Desk 1</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Desk_2">Desk 2</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Hx">Horix</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Dm">Drums</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Totes">Totes</a></li>
    </ul>
</li>
<li class="nav-item dropdown" id="inventoryDropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Inventory
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/core/items-by-audit-group?recordType=warehouse">Create Warehouse Count List</a></li>
        <li><a class="dropdown-item" href="/core/upcoming-blend-counts?recordType=blend">Create A Blend Count List</a></li>
        <li><a class="dropdown-item" href="/core/upcoming-component-counts?recordType=blendcomponent">Create Blend Component Count List</a></li>
        <li><a class="dropdown-item" href="/core/items-by-audit-group?recordType=blend">Blend Count List from Audit Group</a></li>
        <li><a class="dropdown-item" href="/core/items-by-audit-group?recordType=blendcomponent">Component Count List from Audit Group</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/count-records/?recordType=warehouse">View All Warehouse Count Records</a></li>
        <li><a class="dropdown-item" href="/core/count-records?recordType=blend">View All Blend Counts</a></li>
        <li><a class="dropdown-item" href="/core/count-records?recordType=blendcomponent">View All Blend Component Counts</a></li>
        <li><a class="dropdown-item" href="/core/display-count-collection-links">Count Links</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/display-partial-container-label">Print Partial Container Label</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="issueSheetNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin
    </a>
    <ul class="dropdown-menu" aria-labelledby="issueSheetNavbarDropdown">
        <li><a class="dropdown-item" href="/admin">Django Admin</a></li>
        <li><a class="dropdown-item" href="/core/display-missing-audit-groups?filterString=all">Add Missing Audit ItemCodes</a></li>
        <li><a class="dropdown-item" href="/core/display-loop-status">Refresh Status</a></li>
        <li><a class="dropdown-item" href="/core/checklist-management/">Forklift Reports</a></li>
        <li><a class="dropdown-item" href="/core/foam-factors">Foam Factors</a></li>
        <li><a class="dropdown-item" href="/core/display-all-GHS-pictograms">Edit GHS Pictograms</a></li>
        <li><a class="dropdown-item" href="/core/attendance-report">Attendance Records</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/feedback/">Feedback</a>
</li>