<li class="nav-item">
    <a class="nav-link" href="/core/forklift-checklist">Forklift Checklist</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/prodverse/production-schedule">Production Schedule</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="itemLookupNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Item Lookup
    </a>
    <ul class="dropdown-menu" aria-labelledby="itemLookupNavbarDropdown">
        <li><a class="dropdown-item" href="/core/lookup-item-quantity/">Item Quantity</a></li>
        <li><a class="dropdown-item" href="/core/lookup-location/">Chemical Location</a></li>
        <li><a class="dropdown-item" href="/core/lookup-lot-numbers/">Lot Numbers</a></li>
        <li><a class="dropdown-item" href="/prodverse/spec-sheet-lookup/">Spec Sheets</a></li>
        <li><a class="dropdown-item" href="/core/component-shortages">Component Shortages</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/tank-levels">Tank Levels</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/lot-num-records">Lot Numbers</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="blendAuditingNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Blend Auditing
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="issueSheetNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Issue Sheets
            </a>
            <ul class="dropdown-menu" aria-labelledby="issueSheetNavbarDropdown">
                <li class="dropdown-header">Issue Sheets</li>
                <li><a class="dropdown-item" id="inlineissue" href="">INLine</a></li>
                <li><a class="dropdown-item" id="pdlineissue" href="">PD Line</a></li>
                <li><a class="dropdown-item" id="jblineissue" href="">JB Line</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="dropdown-header">Batch Issue Table</li>
                <li><a class="dropdown-item" href="/core/batch-issue-table/INLINE">INLine</a></li>
                <li><a class="dropdown-item" href="/core/batch-issue-table/PDLINE">PD Line</a></li>
                <li><a class="dropdown-item" href="/core/batch-issue-table/JBLINE">JB Line</a></li>
                <li><a class="dropdown-item" href="/core/batch-issue-table/all">All Lines</a></li>
            </ul>
        </li> {% endcomment %}
        <li>
            <a class="dropdown-item" href="#">
                Submenu &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
                <li>
                <a class="dropdown-item" href="#">Submenu item 1</a>
                </li>
                <li>
                <a class="dropdown-item" href="#">Submenu item 2</a>
                </li>
                <li>
                <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu">
                    <li>
                    <a class="dropdown-item" href="#">Multi level 1</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">Multi level 2</a>
                    </li>
                </ul>
                </li>
                <li>
                <a class="dropdown-item" href="#">Submenu item 4</a>
                </li>
                <li>
                <a class="dropdown-item" href="#">Submenu item 5</a>
                </li>
            </ul>
        </li>
        <li><a class="dropdown-item" href="/core/subcomponent-shortages">Blend Component Shortages</a></li>
        <li><a class="dropdown-item" href="/core/blend-shortages">Blend Shortages</a></li>
        <li><a class="dropdown-item" href="/core/production-blend-runs/?page=1">Production Blend Runs</a></li>
        <li><a class="dropdown-item" href="/core/upcoming-blend-counts">Make A Blend Count Sheet</a></li>
        <li><a class="dropdown-item" href="/core/upcoming-component-counts">Make A Component Count Sheet</a></li>
        <li><a class="dropdown-item" href="/core/count-records/">View All Counts</a></li>
        <li><a class="dropdown-item" href="/core/blend-statistics">Blend Statistics</a></li>
        <li><a class="dropdown-item" href="/core/display-all-chemical-locations">View Chemical Locations</a></li>
        <li><a class="dropdown-item" href="/core/reports">Misc. Reports</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=all">Scheduled Blends</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/checklist-management/">Forklift Reports</a>
</li>
<li class="nav-item">    
    <a class="nav-link" href="/admin">Admin</a>
</li>