<li class="nav-item">
    <a class="nav-link" href="/prodverse/production-schedule">Schedule</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Item Lookup
    </a>
    <ul class="dropdown-menu" aria-labelledby="itemLookupNavbarDropdown">
        <li><a class="dropdown-item" href="/core/lookup-item-quantity/">Item Quantity</a></li>
        <li><a class="dropdown-item" href="/core/lookup-location/">Chemical Location</a></li>
        <li><a class="dropdown-item" href="/core/lookup-lot-numbers/">Lot Numbers</a></li>
        <li><a class="dropdown-item" href="/prodverse/spec-sheet-lookup/">Spec Sheets</a></li>
        <li><a class="dropdown-item" href="/core/component-shortages">Component Shortages</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/display-raw-material-label">Create Raw Material Label</a></li>
    </ul>
    <li class="nav-item">
        <a class="nav-link" href="/core/feedback/">Feedback</a>
    </li>
</li>
<script>
    window.currentUserUsername = "{{ user.username|escapejs }}";
    console.log(window.currentUserUsername)
</script>