<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="issueSheetNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Forklift
    </a>
    <ul class="dropdown-menu" aria-labelledby="issueSheetNavbarDropdown">
        <li><a class="dropdown-item" href="/core/forklift-checklist">Forklift Checklist</a></li>
    </ul>
</li>
<li class="nav-item dropdown" id="blendAuditingDropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Blending
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/core/subcomponent-shortages">Blend Component Shortages</a></li>
        <li><a class="dropdown-item" href="/core/tank-levels">Tank Levels</a></li>
        <li><a class="dropdown-item" href="/core/lot-num-records">Lot Numbers</a></li>
        <li><a class="dropdown-item" href="/core/blend-shortages">Blend Shortages</a></li>
        <li><a class="dropdown-item" href="/core/production-blend-runs/?page=1">Production Blend Runs</a></li>
        <li><a class="dropdown-item" href="/core/count-records/">View All Counts</a></li>
        <li><a class="dropdown-item" href="/core/blend-statistics">Blend Statistics</a></li>
        <li><a class="dropdown-item" href="/core/display-all-chemical-locations">View Chemical Locations</a></li>
        <li><a class="dropdown-item" href="/core/reports">Misc. Reports</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=all">Scheduled Blends</a></li>
    </ul>
</li>