{% comment %} <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="issueSheetNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Forklift
    </a>
    <ul class="dropdown-menu" aria-labelledby="issueSheetNavbarDropdown">
        <li><a class="dropdown-item" href="/core/forklift-checklist">Forklift Checklist</a></li>
    </ul>
</li> {% endcomment %}
<li class="nav-item dropdown" id="blendingDropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Blending
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/core/subcomponent-shortages">Blend Component Shortages</a></li>
        <li><a class="dropdown-item" href="/core/tank-levels">Tank Levels</a></li>
        <li><a class="dropdown-item" href="/core/lot-num-records?recordType=blend">Lot Numbers</a></li>
        <li><a class="dropdown-item" href="/core/blend-shortages?recordType=blend">Blend Shortages</a></li>
        <li><a class="dropdown-item" href="/core/blend-statistics">Blend Statistics</a></li>
        <li><a class="dropdown-item" href="/core/display-ghs-label-search">GHS Labels</a></li>
        <li><a class="dropdown-item" href="/core/reports">Misc. Reports</a></li>
        <li><a class="dropdown-item" href="/core/truck-rail-material-schedule">Truck & Rail Schedule</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=all">All Scheduled Blends</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Desk_1">Desk 1</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Desk_2">Desk 2</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Hx">Horix</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Dm">Drums</a></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=Totes">Totes</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/display-partial-container-label">Print Partial Container Label</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/display-count-collection-links">Count Links</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/feedback/">Feedback</a>
</li>