<li class="nav-item">
    <a class="nav-link" href="/core/tanklevels">Tank Levels</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/lotnumrecords">Lot Numbers</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Blend Auditing
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/core/chemshortages">Chemical Shortages</a></li>
        <li><a class="dropdown-item" href="/core/blendshortages">Blend Shortages</a></li>
        <li><a class="dropdown-item" href="/core/productionblendruns/?page=1">Production Blend Runs</a></li>
        <li><a class="dropdown-item" href="/core/blendcountsheets">Blend Count Sheets</a></li>
        <li><a class="dropdown-item" href="/core/reports">Misc. Reports</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/blendschedule?blend_area=all">Scheduled Blends</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/checklistmgmt/">Forklift Reports</a>
</li>