<li class="nav-item">
    <a class="nav-link" href="/core/tank-levels">Tank Levels</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/lot-num-records">Lot Numbers</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Blend Auditing
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/core/chemical-shortages">Chemical Shortages</a></li>
        <li><a class="dropdown-item" href="/core/blend-shortages">Blend Shortages</a></li>
        <li><a class="dropdown-item" href="/core/production-blend-runs/?page=1">Production Blend Runs</a></li>
        <li><a class="dropdown-item" href="/core/upcoming-blend-counts">Blend Count Sheets</a></li>
        <li><a class="dropdown-item" href="/core/upcoming-component-counts">Component Count Sheets</a></li>
        <li><a class="dropdown-item" href="/core/reports">Misc. Reports</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area=all">Scheduled Blends</a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/core/checklist-management/">Forklift Reports</a>
</li>