{% comment %}Tools group navigation items.{% endcomment %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="toolsNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Tools
    </a>
    <ul class="dropdown-menu" aria-labelledby="toolsNavbarDropdown">
        <li><a class="dropdown-item" href="/prodverse/palletizer-camera/">Palletizer Camera</a></li>
        <li><a class="dropdown-item" href="/weather/?latLonQuery=Montgomery+AL&hazards-checkbox=true&current-weather-checkbox=true&latest-observations-checkbox=true&hourly-checkbox=true&hourly-graph-checkbox=true&regional-forecast-checkbox=true&local-forecast-checkbox=true&extended-forecast-checkbox=true&almanac-checkbox=true&spc-outlook-checkbox=true&radar-checkbox=true&kiosk=true&settings-scanLines-checkbox=true" target="_blank">KPK Weather</a></li>
    </ul>
</li>
