{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/addBlendingAuditGroup.css' %}">
 
<div class="modal fade" id="addBlendingAuditGroupModal" tabindex="-1" aria-labelledby="addBlendingAuditGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="addBlendingAuditGroupModalLabel"><b>New Lot Number</b></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="addBlendingAuditGroupFormContainer">
            <form action="/core/add-blending-audit-group" method=POST id="addBlendingAuditGroupFormElement">
                {% csrf_token %}
                <table id="lotnumformtable">
                    {{ add_lot_form }}
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" name="addNewLotNumRecord" value="Create New Lot"  class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>
</div>