<div class="modal fade" id="lotNumConfirmModal" tabindex="-1" aria-labelledby="lotNumConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="lotNumConfirmModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="lotNumConfirmModalBody">
            Are you sure you want to delete this record?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a id="confirmModalButtonLink" href="/core/delete_lot_num_record/">
                <button type="button" class="btn btn-outline-danger" id="confirmModalButton"></button>
            </a>
        </div>
    </div>
    </div>
</div>