{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/editLotNumModal.css' %}">
 
<div class="modal fade" id="editLotNumModal" tabindex="-1" aria-labelledby="editLotNumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="editLotNumModalLabel"><b>Edit Lot Number</b></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="editLotNumFormContainer">
            <form id="editLotNumForm" action="" method=POST>
                {% csrf_token %}
                <table id="lotnumformtable">
                    {{ edit_lot_form }}
                </table>
                <div class="modal-footer">
                    <a href='/core/lot-num-records'>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </a>
                    <button type="submit" name="editLotNumRecord" action="" value="Save Changes"  class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>
</div>