<tr class="{{item.line}}Row" {% if item.schedule_id %}data-schedule-entry-id="{{ item.schedule_id }}"{% endif %}>
    {% if user.is_staff %}<td class='text-center'>
        <input type="checkbox" itemcode={{ item.item_code }} name={{ item.id }} class="rowCheckBox checkbox"></input>
    </td>{% endif %}
    <td>
        <div class="dropdown">
            <button class="btn dropdown-toggle blendinfo" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-info-circle"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/core/create-report/Lot-Numbers?itemCode={{ item.encoded_item_code }}">
                    Lot Numbers
                </a></li>
                <li><a class="dropdown-item" href="/core/create-report/Transaction-History?itemCode={{ item.encoded_item_code }}">
                    Transaction History
                </a></li>
                <li><a class="dropdown-item" href="/core/create-report/All-Upcoming-Runs?itemCode={{ item.encoded_item_code }}">
                    Upcoming Runs
                </a></li>
                <li><a class="dropdown-item" href="/core/create-report/Count-History?itemCode={{ item.encoded_item_code }}">
                    Count History
                </a></li>
                <li><a class="dropdown-item" href="/core/create-report/Max-Producible-Quantity?itemCode={{ item.encoded_item_code }}">
                    Max Producible Quantity
                </a></li>
            </ul>
            {{ item.item_code }}
        </div>
    </td>
    <td>{{ item.item_description }}</td>
    <td class="text-center lot-number-cell" style="display:flex; align-items:center; justify-content:center;">
            {{ item.lot_number }}
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="lotModDropdown" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu lotModDropdownUL" aria-labelledby="lotModDropdown">
                    <li><a href="" target="_blank" lotNum="{{item.lot_number}}" itemCode="{{ item.item_code }}" class="GHSLink dropdown-item">Create GHS Label</a></li>
                    <li><a class="dropdown-item blendLabelLink" data-encoded-item-code="{{ item.encoded_item_code }}" data-lot-number="{{ item.lot_number }}" data-lot-quantity={{ item.lot_quantity }}>Create Small Tote Label</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="#" class="dropdown-item generate-excel-macro-trigger"
                               data-macro-name="generateProductionPackage"
                               data-item-code="{{ item.item_code }}"
                               data-item-description="{{ item.item_description }}"
                               data-lot-number="{{ item.lot_number }}"
                               data-lot-quantity="{{ item.lot_quantity|floatformat:2 }}"
                               data-line="{{ item.line }}"
                               data-run-date="{{ item.run_date|date:"Y-m-d" }}">Print Blend Sheets</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a data-lot-id={{ item.id }} class="dropdown-item editLotButton" data-bs-toggle="modal" data-bs-target="#editLotNumModal">Edit Lot</a></li>
                        <li><a dataItemID="{{ item.id }}" class="duplicateBtn dropdown-item" data-bs-toggle="modal" data-lotqty="{{ item.lot_quantity }}" data-rundate="{{ item.run_date|date:"Y-m-d" }}" data-desc="{{ item.item_description }}" data-itemcode="{{ item.item_code }}" data-desk="{{ item.desk }}"  data-line="{{ item.line }}" data-bs-target="#addLotNumModal">
                            Duplicate Lot
                        </a></li>
                        <li><a dataItemID="{{ item.id }}" type="button" class="deleteBtn dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteLotNumModal">
                            Delete Lot
                        </a></li>
                </ul>
            </div>
    </td>
    <td class='text-center quantity-cell'>{{ item.lot_quantity|floatformat:2 }}</td>
    {% comment %} <td>{{ item.date_created|date:"M d, Y" }}</td> {% endcomment %}
    <td>{{ item.line }}</td>
    <td class='text-center'>{{ item.run_date|date:"M d, Y" }}</td>
    <td class='text-center'>
        {% if not item.sage_qty_on_hand %}
            N/A
        {% else %}
            {{ item.sage_qty_on_hand|floatformat:4 }}
        {% endif %}
    </td>
    <td class='text-center'>
        {% if not item.sage_entered_date %}
            Not Entered
        {% else %}
            {{ item.sage_entered_date|date:"M d, Y" }}
        {% endif %}
    </td>
    <td class="text-center blend-sheet-status-cell">
        {% if item.last_blend_sheet_print_event %}
            <span class="blend-sheet-status"
                  data-record-id="{{ item.id }}"
                  data-has-been-printed="{{ item.last_blend_sheet_print_event|yesno:'true,false' }}"
                  data-print-history='{{ item.blend_sheet_print_history_json_data|safe }}'
                  title="Loading print history..."
                  style="cursor: help;">
                {{ item.last_blend_sheet_print_event.printed_at|date:"M d, Y" }}
                {% if item.was_edited_after_last_print %}
                    <sup class="edited-after-print-indicator">!</sup>
                {% endif %}
            </span>
        {% else %}
            <span class="blend-sheet-status" data-record-id="{{ item.id }}" data-has-been-printed="false">
                <em>Not Printed</em>
            </span>
        {% endif %}
    </td>
    {% if user.is_staff %}
        <td class="text-center">
            {% if item.sage_entered_date %}
                Blended
            {% elif item.schedule_value == "Not Scheduled" %}
                <em>Not Scheduled</em>
            {% else %}                                
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ item.schedule_value }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/core/blend-schedule?blend-area={{ item.schedule_value }}">View {{ item.schedule_value }} Schedule</a></li>
                        {% if item.schedule_value == "Desk_1" %}
                            <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.schedule_value }}/{{ item.schedule_id }}?request-source=lot-num-records&amp;switch-to=Desk_2">Switch To Desk_2</a></li>
                            <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.schedule_value }}/{{ item.schedule_id }}?request-source=lot-num-records&amp;switch-to=LET_Desk">Switch To LET_Desk</a></li>
                        {% elif item.schedule_value == "Desk_2" %}
                            <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.schedule_value }}/{{ item.schedule_id }}?request-source=lot-num-records&amp;switch-to=Desk_1">Switch To Desk_1</a></li>
                            <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.schedule_value }}/{{ item.schedule_id }}?request-source=lot-num-records&amp;switch-to=LET_Desk">Switch To LET_Desk</a></li>
                        {% elif item.schedule_value == "LET_Desk" %}
                            <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.schedule_value }}/{{ item.schedule_id }}?request-source=lot-num-records&amp;switch-to=Desk_1">Switch To Desk_1</a></li>
                            <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.schedule_value }}/{{ item.schedule_id }}?request-source=lot-num-records&amp;switch-to=Desk_2">Switch To Desk_2</a></li>
                            <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.schedule_value }}/{{ item.schedule_id }}?request-source=lot-num-records&amp;switch-to=LET_Desk">Switch To LET_Desk</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </td>
    {% endif %}
</tr>