{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>KPK Control Panel</title>
    <link rel="icon" href="{% static 'kpklauncher/media/kpk.ico'%}">
    <link href="{% static 'kpklauncher/css/launcher.css'%}" rel="stylesheet">
    <script>
      // Immediate theme initialization before any rendering
      (function() {
          const savedTheme = localStorage.getItem('theme');
          const theme = savedTheme || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
          document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>
  </head>
  <body>
    <script>
      console.log('Page loaded');
      console.log('CSS file path:', '{% static "kpklauncher/css/launcher.css" %}');
    </script>
    
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="calendar2-range-fill" viewBox="0 0 16 16">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM10 7a1 1 0 0 0 0 2h5V7h-5zm-4 4a1 1 0 0 0-1-1H1v2h4a1 1 0 0 0 1-1z"/>
      </symbol>
      <symbol id="receipt-cutoff" viewBox="0 0 16 16">
        <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
      </symbol>
      <symbol id="ui-checks" viewBox="0 0 16 16">
        <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708l-2 2zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708l-2 2zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
      </symbol>
      <symbol id="inboxes-fill" viewBox="0 0 16 16">
        <path d="M4.98 1a.5.5 0 0 0-.39.188L1.54 5H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0A.5.5 0 0 1 10 5h4.46l-3.05-3.812A.5.5 0 0 0 11.02 1H4.98zM3.81.563A1.5 1.5 0 0 1 4.98 0h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 10H1.883A1.5 1.5 0 0 1 .394 8.686l-.39-3.124a.5.5 0 0 1 .106-.374L3.81.563zM.125 11.17A.5.5 0 0 1 .5 11H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0 .5.5 0 0 1 .5-.5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 16H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393z"/>
      </symbol>
      <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </symbol>
      <symbol id="calendar3" viewBox="0 0 16 16">
        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </symbol>
      <symbol id="table" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
      </symbol>
      <symbol id="chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </symbol>
    </svg>

    <main class="test-style">
      <div class="container" id="production">
        <h2 class="section-heading">Production</h2>
        <div class="row">
          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#calendar2-range-fill"/></svg>
              </div>
              <h2>Production Schedule</h2>
              <a href="https://adminkinpak.sharepoint.com/sites/PDTN/Shared%20Documents/Production%20Schedule/Starbrite%20KPK%20production%20schedule.xlsb" class="icon-link">
                Open Production Schedule
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#receipt-cutoff"/></svg>
              </div>
              <h2>PO Import Template</h2>
              <a href="https://adminkinpak.sharepoint.com/sites/PDTN/Shared%20Documents/POs%20and%20SOs/Sage%20Import%20Template/_Template/POtoSO.xlsm" class="icon-link">
                Open PO Import Template
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#ui-checks"/></svg>
              </div>
              <h2>ShortChecker</h2>
              <a href="https://adminkinpak.sharepoint.com/sites/PDTN/Shared%20Documents/POs%20and%20SOs/ShortChecker.xlsb" class="icon-link">
                Open ShortChecker
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#inboxes-fill"/></svg>
              </div>
              <h2>Bottle Reports</h2>
              <a href="https://adminkinpak.sharepoint.com/sites/PDTN/Shared%20Documents/Bottle%20Reports/Bottles%20MASTER%20REFRESH%202020%20REV%202.xlsx" class="icon-link">
                Open Bottle Report Master Refresh
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
              <a href="https://adminkinpak.sharepoint.com/sites/PDTN/Shared%20Documents/Bottle%20Reports/Bottles%20temp%20final%20for%20distribution.xlsx" class="icon-link">
                Open Bottle Report for Distribution
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#people-circle"/></svg>
              </div>
              <h2>Time Sheets</h2>
              <a href="https://adminkinpak.sharepoint.com/sites/PDTN/Shared%20Documents/time%20sheet%20list.xlsx" class="icon-link">
                Open Time Sheets
                <svg class="bi"><use xlink:href="#people-circle"/></svg>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#calendar3"/></svg>
              </div>
              <h2>Absentee Calendar</h2>
              <a href="https://adminkinpak.sharepoint.com/sites/PDTN/Shared%20Documents/2024%20Absentee%20Calendar%20Master.xlsx" class="icon-link">
                Open Absentee Calendar
                <svg class="bi"><use xlink:href="#calendar3"/></svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <a href="http://192.168.178.169:1337" id="kpk-app-link" class="b-example-divider-link">
        <div class="b-example-divider">
          <div class="binary-stream" aria-hidden="true"></div>
          <span class="divider-text">Open KPK App</span>
        </div>
      </a>

      <div class="container" id="blending">
        <h2 class="section-heading">Blending</h2>
        <div class="row">
          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#calendar2-range-fill"/></svg>
              </div>
              <h2>Blending Schedule</h2>
              <a href="/core/blend-schedule?blend-area=all" class="icon-link">
                Open Blending Schedule
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#table"/></svg>
              </div>
              <h2>Lot Number Generator</h2>
              <a href="/core/lot-num-records" class="icon-link">
                Open Lot Number Generator
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="feature">
              <div class="feature-icon">
                <svg class="bi"><use xlink:href="#table"/></svg>
              </div>
              <h2>Tanks and Totes</h2>
              <a href="https://adminkinpak.sharepoint.com/sites/BLND/Shared%20Documents/01%20Spreadsheet%20Tools/Blending%20Daily%20Inventory/Prod/Blending%20Tanks%20and%20Totes%20Inventory.xlsb" class="icon-link">
                Open Tanks and Totes Sheet
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
              <a href="http://192.168.178.169:1337/core/tank-levels/" class="icon-link">
                Open Tank Radar Levels Page
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <button class="theme-toggle" aria-label="Toggle theme">
        <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM12 21.75a.75.75 0 01-.75-.75v-2.25a.75.75 0 011.5 0V21a.75.75 0 01-.75.75zM3 12a.75.75 0 01.75-.75h2.25a.75.75 0 010 1.5H3.75A.75.75 0 013 12zM21 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5h2.25A.75.75 0 0121 12zM5.47 5.47a.75.75 0 011.06 0l1.59 1.59a.75.75 0 11-1.06 1.06L5.47 6.53a.75.75 0 010-1.06zM18.53 5.47a.75.75 0 010 1.06l-1.59 1.59a.75.75 0 01-1.06-1.06l1.59-1.59a.75.75 0 011.06 0zM5.47 18.53a.75.75 0 010-1.06l1.59-1.59a.75.75 0 111.06 1.06l-1.59 1.59a.75.75 0 01-1.06 0zM18.53 18.53a.75.75 0 01-1.06 0l-1.59-1.59a.75.75 0 111.06-1.06l1.59 1.59a.75.75 0 010 1.06z"/>
        </svg>
        <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="display: none;">
            <path d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"/>
        </svg>
    </button>

    <script>
        // Update toggle icons based on theme
        const updateToggleIcons = (theme) => {
            const sunIcon = document.querySelector('.sun-icon');
            const moonIcon = document.querySelector('.moon-icon');
            if (sunIcon && moonIcon) {
                if (theme === 'dark') {
                    sunIcon.style.display = 'none';
                    moonIcon.style.display = 'block';
                } else {
                    sunIcon.style.display = 'block';
                    moonIcon.style.display = 'none';
                }
            }
        };

        // Theme toggle function
        const setTheme = (theme) => {
            document.documentElement.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);
            updateToggleIcons(theme);
        };

        // Initialize toggle icons once DOM is ready
        document.addEventListener('DOMContentLoaded', () => {
            const currentTheme = document.documentElement.getAttribute('data-theme');
            updateToggleIcons(currentTheme);

            // Add toggle button handler
            document.querySelector('.theme-toggle').addEventListener('click', () => {
                const theme = document.documentElement.getAttribute('data-theme');
                setTheme(theme === 'dark' ? 'light' : 'dark');
            });
        });

        // Listen for system theme changes
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
            if (!localStorage.getItem('theme')) {
                setTheme(e.matches ? 'dark' : 'light');
            }
        });
    </script>

    <script>
        function createBinaryString() {
            return Array(8).fill(0).map(() => Math.round(Math.random())).join('');
        }

        function getTextBounds() {
            const dividerText = document.querySelector('.divider-text');
            const divider = document.querySelector('.b-example-divider');
            
            const textRect = dividerText.getBoundingClientRect();
            const dividerRect = divider.getBoundingClientRect();
            
            // Convert absolute positions to percentages within the divider
            const textLeftPercent = ((textRect.left - dividerRect.left) / dividerRect.width) * 100;
            const textRightPercent = ((textRect.right - dividerRect.left) / dividerRect.width) * 100;
            
            // Add padding based on screen size
            const padding = dividerRect.width < 600 ? 10 : 5; // Tighter on desktop
            
            return {
                start: Math.max(0, textLeftPercent - padding),
                end: Math.min(100, textRightPercent + padding)
            };
        }

        function createBinaryElement() {
            const binary = document.createElement('div');
            binary.className = 'binary';
            
            const safeBounds = getTextBounds();
            let position;
            
            if (Math.random() < 0.5) {
                // Left side
                position = Math.random() * safeBounds.start;
            } else {
                // Right side
                position = safeBounds.end + (Math.random() * (100 - safeBounds.end));
            }
            
            binary.style.left = position + '%';
            binary.textContent = createBinaryString();
            return binary;
        }

        const stream = document.querySelector('.binary-stream');
        let isHovering = false;
        let animationFrame = null;

        function spawnBinary() {
            if (!isHovering) return;
            const binary = createBinaryElement();
            stream.appendChild(binary);
            
            binary.addEventListener('animationend', () => {
                stream.removeChild(binary);
            });

            // Use requestAnimationFrame for smoother scheduling
            animationFrame = setTimeout(spawnBinary, Math.random() * 100 + 50);
        }

        const link = document.querySelector('.b-example-divider-link');
        link.addEventListener('mouseenter', () => {
            isHovering = true;
            spawnBinary();
            spawnBinary();
        });
        
        link.addEventListener('mouseleave', () => {
            isHovering = false;
            if (animationFrame) {
                clearTimeout(animationFrame);
                animationFrame = null;
            }
            stream.innerHTML = '';
        });

        // Update on resize
        const resizeObserver = new ResizeObserver(() => {
            if (isHovering) {
                stream.innerHTML = '';
                spawnBinary();
                spawnBinary();
            }
        });
        
        resizeObserver.observe(document.querySelector('.b-example-divider'));
    </script>
  </body>
</html>
