<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a href="#horixContainer" class="nav-link active" data-bs-toggle="tab">Horix</a>
        <div class="underlineDiv"></div>
    </li>
    <li class="nav-item">
        <a href="#drumsContainer" class="nav-link" data-bs-toggle="tab">Drums</a>
    </li>
    <li class="nav-item">
        <a href="#desk1Container" class="nav-link" data-bs-toggle="tab">Desk 1</a>
    </li>
    <li class="nav-item">
        <a href="#desk2Container" class="nav-link" data-bs-toggle="tab">Desk 2</a>
    </li>
    <li class="nav-item">
        <a href="#totesContainer" class="nav-link" data-bs-toggle="tab">Totes</a>
    </li>
    <li class="nav-item">
        <a href="#pailsContainer" class="nav-link" data-bs-toggle="tab">Pails</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="horixContainer">
        <br>{% include 'core/blendschedules/horixschedule.html' %}
    </div>
    <div class="tab-pane fade show" id="drumsContainer">
        <br>{% include 'core/blendschedules/drumschedule.html' %}
    </div>
    <div class="tab-pane fade show" id="desk1Container">
        <br>{% include 'core/blendschedules/deskoneschedule.html' %}
    </div>
    <div class="tab-pane fade show" id="desk2Container">
        <br>{% include 'core/blendschedules/desktwoschedule.html' %}
    </div>
    <div class="tab-pane fade show" id="totesContainer">
        <br>{% include 'core/blendschedules/toteschedule.html' %}
    </div>
    <div class="tab-pane fade show" id="pailsContainer">
        <br>{% include 'core/blendschedules/pailschedule.html' %}
    </div>
</div>