{% load static %}
{% if desk_one_blends %}
    {% if user.is_staff %}
        <div class="buttonContainer text-center">
            {% comment %} <button type="button" class="btn btn-outline-danger deleteBtn" onclick="window.location.href='http://192.168.178.169:1337/core/clear-entered-blends/?blend-area=Desk_1';">
                Clear Completed Blends
            </button> {% endcomment %}
            <button type="button" id="noteRowButton" class="btn btn-secondary">Add Note to Schedule</button>
        </div>
    {% endif %}
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered" id="deskScheduleTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Blend</th>
                    <th scope="col">Description</th>
                    <th scope="col">Mix Vessel</th>
                    <th scope="col">Lot No.</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Short</th>
                    {% comment %} <th scope="col">Cumulative</th> {% endcomment %}
                    {% if user.is_staff %}<th scope="col" class="noPrint">Manage</th>{% endif %}
                </tr>
            </thead>
            {% for item in desk_one_blends %}
                <tr class="{{ item.line }}Row tableBodyRow {{ item.blend_area }} 
                    {% if item.short_chemical %}shortWarnRow{% endif %} 
                    {% if item.item_code == "******" %}NOTE{% endif %} 
                    {% if item.item_code == "!!!!!" %}priorityMessage{% endif %}">
                    <td class="orderCell">{{ item.order }}</td>
                    {% if item.short_chemical %}
                        <td>{{ item.item_code }} - short: {{ item.short_chemical }}</td>
                    {% else %}
                        <td>{{ item.item_code }}</td>
                    {% endif %}
                    <td>{{ item.item_description }}</td>
                    <td>
                        {% if item.item_code == "******" %}
                            ******
                        {% else %}
                            <select class="tankSelect">
                                <option selected>{{ item.tank }}</option>
                                {% for tank in item.tank_options %}
                                    <option>{{ tank }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                    <td class="lot-number-cell" lot-number="{{ item.lot }}">
                        {% if not item.lot == "******" %}
                            {{ item.lot }}
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="lotModDropdown" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu lotModDropdownUL" aria-labelledby="lotModDropdown">
                                    <li><a href="" target="_blank" lotNum="{{ item.lot }}" itemCode="{{ item.item_code }}" class="GHSLink dropdown-item">Create GHS Label</a></li>
                                    <li><a class="dropdown-item blendLabelLink" data-encoded-item-code="{{ item.encoded_item_code }}" data-lot-number="{{ item.lot }}" data-lot-quantity={{ item.quantity }}>Create Small Tote Label</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                    <td>{% if not item.item_code == "******" %}{{ item.quantity|floatformat:1 }} gal{% endif %}</td>
                    <td>
                        {% if item.line != 'Prod' %}
                            {{ item.run_date|date:"m/d/y" }}
                        {% elif 'LET' in item.item_description and '(kinpak)' in item.item_description %}
                            {{ item.run_date|date:"m/d/y" }}
                        {% else %}
                            {{ item.hourshort|floatformat:1 }}
                        {% endif %}
                    </td>
                    {% comment %} <td>{{ item.cumulative_qty }}</td> {% endcomment %}
                    {% if user.is_staff %}
                        <td class="noPrint">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage...
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    {% if not item.item_code == "INVENTORY" %}
                                        <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.blend_area }}/{{ item.id }}?request-source=desk-1-schedule&amp;switch-to=Desk_2">Switch To Desk_2</a></li>
                                        <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.blend_area }}/{{ item.id }}?request-source=desk-1-schedule&amp;switch-to=LET_Desk">Switch To LET_Desk</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="/core/schedule-management-request/delete/{{ item.blend_area }}/{{ item.id }}?request-source=desk-1-schedule">Delete</a></li>
                                </ul>
                            </div>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <h2>No blends scheduled.</h2>
{% endif %}
{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/pageModules/deskSchedule.js' %}"></script>
{% endblock %}