{% if desk_two_blends %}
    <button type="button" class="btn btn-outline-danger deleteBtn" onclick="window.location.href='http://localhost:1337/core/clear-entered-blends/?blend-area=Desk_2';">
        Clear Entered Blends
    </button>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Blend</th>
                    <th scope="col">Description</th>
                    <th scope="col">Lot Number</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Totes Needed</th>
                    <th scope="col">When Short</th>
                    <th scope="col" class="noPrint">Total Short</th>
                    <th scope="col" class="noPrint">Entered In Sage</th>
                    {% if user.is_staff %}<th scope="col" class="noPrint">Manage</th>{% endif %}
                </tr>
            </thead>
            {% for item in desk_two_blends %}
                <tr>
                    <td>{{ item.item_code }}</td>
                    <td>{{ item.item_description }}</td>
                    <td>{{ item.lot }}</td>
                    <td>{{ item.quantity|floatformat:1 }} gal</td>
                    <td>{{ item.totes_needed|floatformat:0 }}</td>
                    <td>{{ item.hourshort|floatformat:1 }}</td>
                    <td class="noPrint">{{ item.threewkshort }}</td>
                    <td class="noPrint">{% if not item.when_entered.receiptdate %}Not Entered{% else %}{{ item.when_entered.receiptdate }}{% endif %}</td>
                    {% if user.is_staff %}
                        <td class="noPrint">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage Blend...
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="/core/schedule-management-request/move-up-one/{{ item.blend_area }}/{{ item.id }}/{{ item.order }}">Move Up 1</a></li>
                                    <li><a class="dropdown-item" href="/core/schedule-management-request/move-down-one/{{ item.blend_area }}/{{ item.id }}/{{ item.order }}">Move Down 1</a></li>
                                    <li><a class="dropdown-item" href="/core/schedule-management-request/move-to-top/{{ item.blend_area }}/{{ item.id }}/{{ item.order }}">Move To Top</a></li>
                                    <li><a class="dropdown-item" href="/core/schedule-management-request/move-to-bottom/{{ item.blend_area }}/{{ item.id }}/{{ item.order }}">Move To Bottom</a></li>
                                    <li><a class="dropdown-item" href="/core/schedule-management-request/delete/{{ item.blend_area }}/{{ item.id }}/{{ item.order }}">Delete</a></li>
                                </ul>
                            </div>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <h2>No blends scheduled.</h2>
{% endif %}