{% load static %}
{% if desk_one_blends %}
    <div class="buttonContainer text-center">
        {% comment %} <button type="button" class="btn btn-outline-danger deleteBtn" onclick="window.location.href='http://192.168.178.169:1337/core/clear-entered-blends/?blend-area=Desk_1';">
            Clear Completed Blends
        </button> {% endcomment %}
    </div>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered" id="deskScheduleTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Blend</th>
                    <th scope="col">Description</th>
                    <th scope="col">Mix Vessel</th>
                    <th scope="col">Lot No.</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Short</th>
                    {% if user.is_staff %}<th scope="col" class="noPrint">Manage</th>{% endif %}
                </tr>
            </thead>
            {% for item in desk_one_blends %}
                <tr class="{{item.line}}Row tableBodyRow {{ item.blend_area }} {% if item.short_chemical %}shortWarnRow{% endif %}">
                    <td class="orderCell">{{ item.order }}</td>
                    {% if item.short_chemical %}   
                        <td>{{ item.item_code }} - short: {{ item.short_chemical }}</td>
                    {% else %}
                        <td>{{ item.item_code }}</td>
                    {% endif %}
                    <td>{{ item.item_description }}</td>
                    <td>
                        <select class="tankSelect">
                            <option selected>{{ item.tank }}</option>
                            {% for tank in item.tank_options %}
                                <option>{{ tank }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{{ item.lot }}</td>
                    <td>{{ item.quantity|floatformat:1 }} gal</td>
                    <td>{{ item.hourshort|floatformat:1 }}</td>
                    {% if user.is_staff %}
                        <td class="noPrint">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage Blend...
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="/core/schedule-management-request/switch-schedules/{{ item.blend_area }}/{{ item.id }}?request-source=desk-1-schedule">Switch To Desk 2</a></li>
                                    <li><a class="dropdown-item" href="/core/schedule-management-request/delete/{{ item.blend_area }}/{{ item.id }}?request-source=desk-1-schedule">Delete</a></li>
                                </ul>
                            </div>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <h2>No blends scheduled.</h2>
{% endif %}
{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/pageModules/deskSchedule.js' %}"></script>
{% endblock %}