{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Blend Instructions</title>{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'core/js/pageModules/blendInstructionLinks.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class='text-center'>
        <h1>Select Blend Instructions to Edit</h1>
    </div>
    <tr id="searchRow">
        <td>
            <label for="id_filter_criteria">Filter:</label>
        </td>
        <td>
            <input type="text" name="filter_criteria" maxlength="100" required="" id="id_filter_criteria" class="ui-autocomplete-input" autocomplete="off">
        </td>
    </tr>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered" id="displayTable">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for item in context %}
                <tr class="filterableRow">
                    <td><a href="{{ item.url }}">{{ item.item_code }} - {{ item.item_description }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}