.ui-autocomplete { 
    position: absolute; 
    cursor: default; 
    z-index: 9999 !important;
}

#newLotNumFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#id_addLotNumModal-lot_number {
    background-color: lightgray;
}