.Purchased {
    color: red;
    font-weight: bold;
}

.Unavailable {
    color: red;
    font-weight: bold;
}

@media print {
    .site-header {
        display: none !important;
    }
    .contentarea {
        margin-top: -80px;
        border: none !important;
    }
    td {
        border: 2px solid black !important;
        vertical-align: middle;
    }
    th {
        border: 2px solid black !important;
    }
}    
.batchNumCell {
    min-width: 200px; 
}
.itemDescriptionCell {
    min-width: 290px;
}
.contentarea {
    max-width: 750px;
    padding-left: 15px;
}

.warning {
    background-color: rgb(255, 219, 152) !important;
}

.short {
    background-color: rgb(255, 178, 178) !important;
}