.headerCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin-top: 6rem;
    margin-left: 2rem;
}

#blendSheetIngredientsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#blendSheetIngredientsTable {
    width: 100%;
}

.blendSheetDivider {
    background-color: black;
    height: 25px;
    margin-top: 10px;
}

input {
    width: 100%;
    font-size: 12px;
}