.headerCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin-top: 6rem;
    margin-left: 2rem;
}

#blendSheetIngredientsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#blendSheetIngredientsTable {
    width: 100%;
}

.blendSheetDivider {
    background-color: black;
    height: 25px;
    margin-top: 10px;
}

#itemIdentityContainer {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    font-size: 16px;
}

.quantityRatioInput {
    width: 35% !important;
}

.grams { 
    background-color: rgb(255, 171, 252) !important;
}

.lbs { 
    background-color: rgb(246, 255, 117) !important;
}

.gal {
    background-color: rgb(133, 192, 255) !important;
}

.switchCell {
    display: flex;
    justify-content: space-between;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25);
  }
