.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

div { 
    border: solid 2px gray;
}

input {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
}