td {
    width: auto;
    vertical-align: middle;
    white-space: nowrap;
}

.nav-fill > li > .nav-link {
    color: gray;
}

.active.nav-link {
    font-weight: bold;
    font-size:large;
    background-color: lightgray;
    border: 2px solid black;
}

td {
    vertical-align: middle;
}

.problemRow{
    background-color: rgb(255, 130, 130);
}

.DmRow {
    background-color: rgb(255, 195, 167);
}

.TotesRow { 
    background-color: rgb(255, 237, 138);
}

.PailsRow { 
    background-color: rgb(255, 237, 138);
}

.selected {
    background-color:rgb(182, 182, 182);
}

.orderCell {
    display: none;
}

.shortWarnRow {
    color: red;
    font-weight: bold;
    background-color: rgb(209, 209, 209);
}

@media print {
    .site-header {
        display: none !important;
    }

    .contentarea {
        margin-top: -80px;
        border: none;
    }

    .container {
        margin-left: 1rem;
      }

    .buttonContainer {
        display: none !important;
    }

    .noPrint {
        display: none !important;
    }

    td {
        border: solid 1px black;
    }

    tr {
        border: solid 1px black;
        color: black;
    }

    a {
        display: none !important;
    }
    thead {
        background-color: rgb(134, 174, 255);
    }

}