td {
    vertical-align: middle;
    white-space: nowrap;
}

.blendinfo.dropdown-toggle::after {
    display: none;
}

.rtCell {
    text-align: right;
}

tr[needsCount="needsCount"] {
    background-color: rgb(251, 242, 118);
}

.dropdownLi {
    margin-right: 15px;
    margin-left: 15px;
}

.unscheduledDropdown {
    color: rgb(86, 86, 86);
}

@keyframes blinkingBackground{
    0%		{ background-color: #ff9500;}
    25%		{ background-color: #ffe521;}
    50%		{ background-color: #ff1120;}
    75%		{ background-color: #ff8400;}
    100%    { background-color: #ff0000;}
}

.urgentBlend {
    background-color: #ffff;
    animation: blinkingBackground 2s infinite;
}

.advanceRow {
    background-color: rgb(255, 128, 192) !important;
}

.shortageFlag {
    color: red;
    font-weight: bold;
}

.rare {
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(27, 90, 208); /* Change the color as needed */
    position: absolute;
    right: 0;
    top: 0;
}

.epic {
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(157, 58, 238);
    position: absolute;
    right: 0;
    top: 0;
}

.blendStillNeeded {
    animation: pulsingBlue 2s ease-in-out infinite;
}

@keyframes pulsingBlue {
    0% { background-color: transparent; }
    50% { background-color: rgba(255, 62, 62, 0.804); }
    100% { background-color: transparent; }
}