td[class*="expected_quantity"]{ 
    text-align: right;
}

td {
    width: auto;
    vertical-align: middle;
    white-space: nowrap;
}

.tbl-cell-counted_date {
    display: none;
}

.itemCodeDropdownLink {
    text-decoration: none;
    color: black;
}

td[class*='variance'] { 
    text-align: right;
}

.hidden {
    display: none;
}

.tbl-cell-counted_quantity input {
    width: 80px;
}

.tbl-cell-counted_quantity {
    text-align: center;
    display: none;
}

.tbl-cell-containers {
    text-align: center;
}

.row-clear {
    color: red;
    padding-left: 10px;
}

.add-container-row {
    padding-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
}

#connectionStatusIndicator {
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 9px;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000;
}

.connected {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}

.disconnected {
    background-color: rgb(194, 0, 0);
}


#searchDiv {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    width: auto;
    padding: 30px;
}

#addBlendButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#accordionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-item { 
    width: 50vw;
}

.ui-autocomplete { 
    position: absolute; 
    cursor: default; 
    z-index: 9999 !important;
}

.discardButton {
    border: 1px solid red;
    border-radius: 3px;
    padding: 6px;
    color: red;
    margin-left: 5px;
    text-decoration: none; 
}

.discardButton:hover {
    background-color: red;
    color: white;
}

.buttonContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.missingCount { 
    background: lightcoral;
}

.partialContainerLabelLink {
    cursor: pointer;
}

@media print {
    .site-header {
        display: none !important;
    }

    .contentarea {
        margin-top: -80px;
        border: none;
    }

    input[name*='counted_quantity'] {
        opacity: 0;
    }

    td {
        border: solid 1px black;
    }

    tr {
        border: solid 1px black;
    }

    .noPrint {
        display: none !important;
    }
}

.fade-out {
    animation: fadeOut 3s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.returnlink {
    margin: 15px;
}

.checkedcountedcell {
    background-color: rgb(145, 255, 165) !important;
}

.uncheckedcountedcell {
    background-color: rgb(255, 145, 145) !important;
}

input[type='checkbox'] {
    transform: scale(2);
}

li::before, li::after {
    content: none;
}

@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        font-size: 8px;
    }
}