.negativeCell {
    color: red; 
    font-weight: bold;
}

.moneyCell {
    text-align: right; 
}

.totalRow {
    font-weight: bold; 
    border-top: double black !important;
    text-align: right; 
}

.bigMoney {
    font-size: 28px !important;
    white-space: nowrap;
}

.suspicious {
    background-color: rgb(254, 167, 167)
}