.negativeCell {
    color: rgb(0, 0, 0); 
    font-weight: bold;
    background-color: rgb(255, 161, 161) !important;
}

.moneyCell {
    text-align: right; 
}

.totalRow {
    font-weight: bold; 
    border-top: double black !important;
    text-align: right; 
}

.bigMoney {
    font-size: 28px !important;
    white-space: nowrap;
}

/* .suspicious {
    background-color: rgb(255, 218, 209)
} */