.Soap {
    background-image: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 10px,
        #5e6468 10px,
        #717980 20px
    );
    color: #000000;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.Polish {
    background-color: #FFFFFF;
    color: #111111;
    border: 1px solid #DDDDDD;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.WP {
    background-image: repeating-linear-gradient(
        45deg,
        #6e767e,
        #6e767e 10px,
        #5a6268 10px,
        #5a6268 20px
    );
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.Oil {
    background-color: #343A40;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.King-WW {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.Acid {
    background-color: #DC3545;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.MSR {
    background-color: #ffee07;
    color: #111111;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.Teak-Oil {
    background-color: #8B4513;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.Startron {
    background-color: #28A745;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.Teak-Sealer {
    background-color: #ffa600;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.Green-Oil {
    background-color: #28A745;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}
