.hose-soap {
    background-color: #FFB6C1;
    color: #111111;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-polish {
    background-color: #FFFFFF;
    color: #111111;
    border: 1px solid #DDDDDD;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-wp {
    background-color: #6e767e;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-oil {
    background-color: #343A40;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-king-ww {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-acid {
    background-color: #DC3545;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-msr {
    background-color: #ffee07;
    color: #111111;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-teak-oil {
    background-color: #8B4513;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-startron {
    background-color: #28A745;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-teak-sealer {
    background-color: #ffa600;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.hose-green-oil {
    background-color: #28A745;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}
