#customAuditGroupInput {
    width: 300px;
}

.editAuditGroupItemFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#create_list {
    margin-bottom: 10px;
    margin-top: 10px;
}

#displayTable td {
    border-bottom: 1px solid #dee2e6;
}

.editRowButton {
    color: #8cb4d5;
}

.editRowButton:hover {
    color: #5a9bd5;
}
