.HxRow {
    background-color: rgb(183, 240, 202);
}

.DmRow {
    background-color: rgb(255, 195, 167);
}

.TotesRow { 
    background-color: rgb(255, 237, 138);
}

.PailsRow { 
    background-color: rgb(255, 237, 138);
}

#topButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: auto;
}

.topButton {
    margin-top: 2px;
    margin-bottom: 2px;
}

.deleteBtn {
    color: red;
    font-weight: bold;
}

td {
    vertical-align: middle;
    white-space: nowrap;
}

.blendinfo.dropdown-toggle::after {
    display: none;
}

