#labelContainer {
    width: 6in;
    height: 4in;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid black;
    justify-content: space-evenly;
    margin: auto;
}

#topLabelRow {
    display: flex; 
    justify-content: space-between;
    width: 85%;
}

#closeModalButton {
    background: none;
    color: rgb(128, 128, 128);
    border: 2px solid rgb(128, 128, 128);
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 9px;
    position: absolute;
    top: 0; /* Aligns to the top of the purple box */
    right: 0;
    margin: 5px;
    padding-top: 0px;
}

#closeModalButton:hover {
    background: rgb(128, 128, 128);
    color: white;
    border: 2px solid white;
}

#initialsField {
    /* height: 20px; */
    width: 50px;
}

.controlsContainer{
    display: flex;
    flex-direction: column;
}

.controlsRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

#topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.warningImage {
    width: 1in;
    height: 1in;
}

#warningContainer {
    display: flex;
    justify-content: space-evenly;
}

#labelQuantity {
    width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container-info {
    width: 75%;
}

.containerInfoCell {
    width: 25%;
    border: black solid 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#blendLabelPrintButton {
    margin-right: 10px;
}