{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Lookup Location</title>{% endblock %}

{% block scripts %} 
    <link rel="shortcut icon" type="image/png" href="{% static 'core\kpkhomescrico.png' %}">
    <link rel="apple-touch-icon" href="{% static 'core\kpkhomescrico.png' %}">
{% endblock scripts %}


<!-- Body Blocks -->
{% block content %}
    <style>
        body {margin-top: 6rem; margin-left: 4rem;}
    </style>
    <div>
        <h1>Lookup Locations</h1>
        <br>
        <h4>Item number:</h4>
        <input type="text" id="id_part_number" enterkeyhint="search" placeholder="Search by Item Number" style="width:300px;"></input>
        <br>
        <h4>Description:</h4>
        <input type="text" id="id_description" enterkeyhint="search" placeholder="Search by Desc (min. 3 characters)" style="width:300px;"></input>
        <br>
        <h4>Location:</h4>
        <div id="id_location"><em>Use search fields to display chemical locations.</em></div>
        <h4>Quantity On Hand:</h4>
        <div id="id_quantity"><em>Quantity will appear here.</em></div>
        <div class="animation" style="display:none;"><img src="{% static 'core/media/loading-gif.gif' %}" height="20" width="20"></img></div>
    </div>

  {% endblock content %}
<!-- End Body -->
{% block belowdeckscripts %}
    <script src="{% static 'core/js/locationLookup.js' %}"></script>
{% endblock %}