{% extends 'base.html' %}
{% load static %}
{% block title %}<title>GHS Labels</title>{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href ="{% static 'core/css/GHSSearchAndUpload.css' %}">
    <script type="module" src="{% static 'core/js/pageModules/GHSLookupPage.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="moduleContainer">
        <h1>Generate GHS Label</h1>
        <h2>Item Code:</h2>
        <input type="text" id="id_item_code_0" placeholder="Search by Item Number" style="width:300px;" enterkeyhint="search"></input>
        
        <h2>Description:</h2>
        <input type="text" id="id_item_description_0" placeholder="Search by Desc (min. 3 characters)" style="width:300px;" enterkeyhint="search"></input>
        <br>
        
        

        <div class="animation" style="display:none;"><img src="{% static 'core/media/loading-gif.gif' %}" height="20" width="20"></img></div>
        <br>
        <br>
        <p id="warningParagraph" style="display: none;"><em>Incomplete or invalid search term.</em></p>

        <div class="buttonContainer">
            <a id="GHSgenButton" class="GHSLink lookupPageButton" href="">
                <button type="button" class="btn btn-primary">Generate Label</button>
            </a>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="moduleContainer">
        <div class="buttonContainer" style="">
            <button type="button" class="btn btn-secondary" onclick="$('.moduleContainer').toggle();">+ Add New Label</button>
        </div>
    </div>
    {% endif %}
    <div class="moduleContainer" style="display:none;">
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
    <p><input type="checkbox" id="autofillcheckbox" label="Use Autofill" checked></input>  Use Autofill</p>
{% endblock content %}