[ req ]
default_bits = 2048
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
C = US
ST = Alabama
L = Mobile
O = Kinpak Inc
OU = Applications
CN = kpkapp.lan

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = kpkapp.lan
DNS.2 = *.kpkapp.lan
DNS.3 = rpm.kpkapp.lan
IP.1 = 192.168.178.168
IP.2 = 192.168.178.169
