{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Add Lot To Schedule</title>{% endblock %}

{% block scripts %} 
    <link rel="stylesheet" type="text/css" href="{% static 'core/addLotToSchedule.css' %}">
{% endblock scripts %}

{% block content %}
<h1>{{ msg }}</h1>
    <div id="addLotContainer">
        <h1>Add Lot to Schedule</h1>
        <form method="POST" action="" name="newScheduleItem">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" name="submit" value="Add to Schedule" class="btn btn-secondary">
        </form>
    </div>
{% endblock %}