{% extends 'base.html' %}
{% load static %}
{% block scripts %} <link rel="stylesheet" type="text/css" href="{% static 'core/countlist.css' %}">{% endblock%}
{% block title %}<title>Counts Needed</title>{% endblock %}

{% block content %}

{% if submitted %}
    <a href=''></a>
{% else %}
    <div>
        <form action="" method=POST>
            {% csrf_token %}
            <div class="table-responsive-sm">
                <table class="table text-left table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Blend</th>
                            <th scope="col">Description</th>
                            <th scope="col">Exp. Qty</th>
                            <th scope="col">Counted Qty</th>
                            <th scope="col">Count Date</th>
                            <th scope="col">Variance</th>
                        </tr>
                    </thead>
            {{ these_counts_formset.management_form }}
            {% for form in these_counts_formset %}
                <tr>
                {% for field in form %}
                    <td>{{ field }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </form>
    </div>
    <button type="submit" name="submit" class="btn btn-secondary">Save Counts</button> 

{% endif %}


<script>
    //$('input[id*="-ct_qty"]').change(function(){
    //});
</script>



{% endblock content %}