{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Production Timetable</title>{% endblock %}


{% block content %}
    <div class='text-center'>
        <h1>All Upcoming Production Runs</h1>
        <br/><br/> 
    </div>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Bill No.</th>
                    <th scope="col">Blend Part No.</th>
                    <th scope="col">Blend Description</th>
                    <th scope="col">Run Qty</th>
                    <th scope="col">Qty On Hand</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">Line</th>
                    <th scope="col">On Hand After Run</th>
                </tr>
            </thead>
            {% for item in current_page.object_list %}
                <tr>
                    <td>{{ item.bill_pn }}</td>
                    <td>{{ item.blend_pn }}</td>
                    <td>{{ item.blend_desc }}</td>
                    <td>{{ item.adjustedrunqty|floatformat:2 }}</td>
                    <td>{{ item.qtyonhand|floatformat:2 }}</td>
                    <td>{{ item.starttime|floatformat:2 }}</td>
                    <td>{{ item.prodline }}</td>
                    <td>{{ item.oh_after_run|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="page-links">
        {% if current_page.has_previous %}
            <a href="/core/allupcomingproduction/?page={{ current_page.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if current_page.has_next %}
            <a href="/core/allupcomingproduction/?page={{ current_page.next_page_number }}">Next Page</a>
        {% endif %}
    </div>

{% endblock content %}