{% load static %}
<link href="https://code.jquery.com/ui/1.13.1/themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" /> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">

{% block title %}<title>Batch Table</title>{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/batchIssueTable.css' %}">
{% endblock scripts %}

{% block content %}
    {% if prod_line == 'all' %}
        {% for line in prod_runs_by_line %}
            <div class="contentarea text-center" style="margin-top: 50px;">
                <div class='text-center'>
                    <h1>BLENDING LOT NUMBERS</h1>
                    <h2>{{ line.prod_line }} - {{ issue_date }}</h2>
                </div>
                <br>
                <div class="table-responsive-sm">
                    <table class="table text-left table-bordered">
                        <thead class="thead-dark" style="">
                            <tr>
                                <th scope="col" class="text-center">Blend</th>
                                <th scope="col" class="text-center">Description</th>
                                <th scope="col" class="text-center">Batches Issued</th>
                                <th scope="col" class="text-center">On Hand</th>
                            </tr>
                        </thead>
                        {% for run in line.run_list %}
                            <tr>
                                <td>{{ run.component_item_code }}</td>
                                <td class="itemDescriptionCell">{{ run.component_item_description }}</td>
                                <td class="{{ run.lot_numbers.0.0 }} batchNumCell">
                                    {% if run.lot_numbers.0.0 %}<b>{{ run.lot_numbers.0.0 }}</b>: {{ run.lot_numbers.0.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.1.0 %}<b>{{ run.lot_numbers.1.0 }}</b>: {{ run.lot_numbers.1.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.2.0 %}<b>{{ run.lot_numbers.2.0 }}</b>: {{ run.lot_numbers.2.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.3.0 %}<b>{{ run.lot_numbers.3.0 }}</b>: {{ run.lot_numbers.3.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.4.0 %}<b>{{ run.lot_numbers.4.0 }}</b>: {{ run.lot_numbers.4.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.5.0 %}<b>{{ run.lot_numbers.5.0 }}</b>: {{ run.lot_numbers.5.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.6.0 %}<b>{{ run.lot_numbers.6.0 }}</b>: {{ run.lot_numbers.6.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.7.0 %}<b>{{ run.lot_numbers.7.0 }}</b>: {{ run.lot_numbers.7.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.8.0 %}<b>{{ run.lot_numbers.8.0 }}</b>: {{ run.lot_numbers.8.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.9.0 %}<b>{{ run.lot_numbers.9.0 }}</b>: {{ run.lot_numbers.9.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.10.0 %}<b>{{ run.lot_numbers.10.0 }}</b>: {{ run.lot_numbers.10.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.11.0 %}<b>{{ run.lot_numbers.11.0 }}</b>: {{ run.lot_numbers.11.1 }}<br>{% else %}{% endif %}
                                </td>
                                <td class="{{ run.shortage_flag }}">{{ run.component_on_hand_qty|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <p style="page-break-before: always !important; color:white;">.</p>
        {% endfor %}
        {% for line in prod_runs_by_line %}
            <div class="contentarea text-center" style="margin-top: 50px;">
                <div class='text-center'>
                    <h1>BLENDING LOT NUMBERS</h1>
                    <h2>{{ line.prod_line }} - {{ issue_date }}</h2>
                </div>
                <br>
                <div class="table-responsive-sm">
                    <table class="table text-left table-bordered">
                        <thead class="thead-dark" style="">
                            <tr>
                                <th scope="col" class="text-center">Blend</th>
                                <th scope="col" class="text-center">Description</th>
                                <th scope="col" class="text-center">Batches Issued</th>
                                <th scope="col" class="text-center">On Hand</th>
                            </tr>
                        </thead>
                        {% for run in line.run_list %}
                            <tr>
                                <td>{{ run.component_item_code }}</td>
                                <td class="itemDescriptionCell">{{ run.component_item_description }}</td>
                                <td class="{{ run.lot_numbers.0.0 }} batchNumCell">
                                    {% if run.lot_numbers.0.0 %}<b>{{ run.lot_numbers.0.0 }}</b>: {{ run.lot_numbers.0.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.1.0 %}<b>{{ run.lot_numbers.1.0 }}</b>: {{ run.lot_numbers.1.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.2.0 %}<b>{{ run.lot_numbers.2.0 }}</b>: {{ run.lot_numbers.2.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.3.0 %}<b>{{ run.lot_numbers.3.0 }}</b>: {{ run.lot_numbers.3.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.4.0 %}<b>{{ run.lot_numbers.4.0 }}</b>: {{ run.lot_numbers.4.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.5.0 %}<b>{{ run.lot_numbers.5.0 }}</b>: {{ run.lot_numbers.5.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.6.0 %}<b>{{ run.lot_numbers.6.0 }}</b>: {{ run.lot_numbers.6.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.7.0 %}<b>{{ run.lot_numbers.7.0 }}</b>: {{ run.lot_numbers.7.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.8.0 %}<b>{{ run.lot_numbers.8.0 }}</b>: {{ run.lot_numbers.8.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.9.0 %}<b>{{ run.lot_numbers.9.0 }}</b>: {{ run.lot_numbers.9.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.10.0 %}<b>{{ run.lot_numbers.10.0 }}</b>: {{ run.lot_numbers.10.1 }}<br>{% else %}{% endif %}
                                    {% if run.lot_numbers.11.0 %}<b>{{ run.lot_numbers.11.0 }}</b>: {{ run.lot_numbers.11.1 }}<br>{% else %}{% endif %}
                                </td>
                                <td class="{{ run.shortage_flag }}">{{ run.component_on_hand_qty|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% if line.prod_line == "INLINE" %}
                <p style="page-break-before: always !important; color:white;">.</p>
            {% elif line.prod_line == "PD LINE" %}
                <p style="page-break-before: always !important; color:white;">.</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="contentarea text-center">
            <div class='text-center'>
                <h1>BLENDING LOT NUMBERS</h1>
                <h2>{{ prod_line }} - {{ issue_date }}</h2>
            </div>
            <br>
            <div class="table-responsive-sm">
                <table class="table text-left table-bordered">
                    <thead class="thead-dark" style="">
                        <tr>
                            <th scope="col" class="text-center">Blend</th>
                            <th scope="col" class="text-center">Description</th>
                            <th scope="col" class="text-center">Batches Issued</th>
                            <th scope="col" class="text-center">On Hand</th>
                        </tr>
                    </thead>
                    {% for run in runs_this_line %}
                        <tr>
                            <td>{{ run.component_item_code }}</td>
                            <td class="itemDescriptionCell">{{ run.component_item_description }}</td>
                            <td class="{{ run.lot_numbers.0.0 }} batchNumCell">
                                {% if run.lot_numbers.0.0 %}<b>{{ run.lot_numbers.0.0 }}</b>: {{ run.lot_numbers.0.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.1.0 %}<b>{{ run.lot_numbers.1.0 }}</b>: {{ run.lot_numbers.1.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.2.0 %}<b>{{ run.lot_numbers.2.0 }}</b>: {{ run.lot_numbers.2.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.3.0 %}<b>{{ run.lot_numbers.3.0 }}</b>: {{ run.lot_numbers.3.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.4.0 %}<b>{{ run.lot_numbers.4.0 }}</b>: {{ run.lot_numbers.4.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.5.0 %}<b>{{ run.lot_numbers.5.0 }}</b>: {{ run.lot_numbers.5.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.6.0 %}<b>{{ run.lot_numbers.6.0 }}</b>: {{ run.lot_numbers.6.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.7.0 %}<b>{{ run.lot_numbers.7.0 }}</b>: {{ run.lot_numbers.7.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.8.0 %}<b>{{ run.lot_numbers.8.0 }}</b>: {{ run.lot_numbers.8.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.9.0 %}<b>{{ run.lot_numbers.9.0 }}</b>: {{ run.lot_numbers.9.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.10.0 %}<b>{{ run.lot_numbers.10.0 }}</b>: {{ run.lot_numbers.10.1 }}<br>{% else %}{% endif %}
                                {% if run.lot_numbers.11.0 %}<b>{{ run.lot_numbers.11.0 }}</b>: {{ run.lot_numbers.11.1 }}<br>{% else %}{% endif %}
                            </td>
                            <td class="{{ run.shortage_flag }}">{{ run.component_on_hand_qty|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock content %}
