{% extends 'base.html' %}


{% block title %}<title>Batch Table</title>{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>All Lot Numbers For {{ line }} Runs</h1>
    </div>
    <br>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    <th scope="col">Bill No.</th>
                    <th scope="col">Blend</th>
                    <th scope="col">Description</th>
                    <th scope="col">Run Qty</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">Batches Issued</th>
                    <th scope="col">Total On Hand</th>
                    
                </tr>
            </thead>
            {% for run in prod_runs_this_line %}
                <tr>
                    <td>{{ run.item_code }}</td>
                    <td>{{ run.blend_pn }}</td>
                    <td>{{ run.blend_desc }}</td>
                    <td>{{ run.adjustedrunqty|floatformat:2 }}</td>
                    <td>{{ run.starttime|floatformat:5 }}</td>
                    <td>{% if run.batchnum1 == "n/a" %} - {% else %} <b>{{ run.batchnum1 }}</b>: {{ run.batchqty1 }} gal<br>{% endif %}
                        {% if run.batchnum2 == "n/a" %}{% else %} <b>{{ run.batchnum2 }}</b>: {{ run.batchqty2 }} gal<br>{% endif %}
                        {% if run.batchnum3 == "n/a" %}{% else %} <b>{{ run.batchnum3 }}</b>: {{ run.batchqty3 }} gal<br>{% endif %}
                        {% if run.batchnum4 == "n/a" %}{% else %} <b>{{ run.batchnum4 }}</b>: {{ run.batchqty4 }} gal<br>{% endif %}
                        {% if run.batchnum5 == "n/a" %}{% else %} <b>{{ run.batchnum5 }}</b>: {{ run.batchqty5 }} gal<br>{% endif %}
                        {% if run.batchnum6 == "n/a" %}{% else %} <b>{{ run.batchnum6 }}</b>: {{ run.batchqty6 }} gal{% endif %}</td>
                    <td>{{ run.qtyonhand|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}