{% extends 'base.html' %}
{% load static %}


{% block content %}

    {% include 'core/modals/lotnum-add-modal.html' %}

    <div class='text-center'>
        <h1>Blend Shortages</h1>
        <br/><br/> 
    </div>
    <table class="table text-left table-bordered table-hover">
        <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
            <tr>
                <th scope="col" class="text-center">Blend</th>
                <th scope="col" class="text-center">Description</th>
                <th scope="col" class="text-center">When Short</th>
                <th scope="col" class="text-center">Line</th>
                <th scope="col" class="text-center">Run Quantity</th>
                <th scope="col" class="text-center">1Wk_Short</th>
                <th scope="col" class="text-center">2Wks_Short</th>
                <th scope="col" class="text-center">3Wks_Short</th>
                {% if user.is_staff %}
                    <th scope="col">Create Lot Number</th>
                {% endif %}
            </tr>
        </thead>
        {% for item in blend_these_queryset %}
            <tr>
                <td>{{ item.blend_pn }}</td>
                <td>{{ item.blend_desc }}</td>
                <td>{{ item.starttime|floatformat:2 }}</td>
                <td>{{ item.prodline }}</td>
                <td>{{ item.adjustedrunqty|floatformat:1 }}</td>
                <td>{{ item.one_wk_short }}</td>
                <td>{{ item.two_wk_short }}</td>
                <td>{{ item.three_wk_short }}</td>
                {% if user.is_staff %}
                    <td class="text-center lotNumCell">
                        <button class="btn btn-secondary lotNumButton" data-bs-toggle="modal" data-bs-target="#addLotNumModal" data-partnum={{ item.blend_pn }} data-desc={{ item.blend_desc }} data-threewkqty={{ item.three_wk_short }}>+</button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock content %}

{% block belowdeckscripts %}
    <script src="{% static 'core/js/blendShortages.js' %}"></script>
{% endblock %}