{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Blend Schedule</title>{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/blendSchedule.css' %}">
{% endblock scripts %}

{% block content %}
    {% include 'core/modals/add-lotnum-modal.html' %}

    {% if blend_area == 'all' %}
        {% include 'core/blendschedules/allschedules.html' %}
    {% elif blend_area == 'Desk_1' %}
        {% include 'core/blendschedules/deskoneschedule.html' %}
    {% elif blend_area == 'Desk_2' %}
        {% include 'core/blendschedules/desktwoschedule.html' %}
    {% elif blend_area == 'Hx' %}
        {% include 'core/blendschedules/horixschedule.html' %}
    {% elif blend_area == 'Dm' %}
        {% include 'core/blendschedules/drumschedule.html' %}
    {% elif blend_area == 'Totes' %}
        {% include 'core/blendschedules/toteschedule.html' %}
    {% elif blend_area == 'Pails' %}
        {% include 'core/blendschedules/pailschedule.html' %}
    {% endif %}
{% endblock content %}

{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/pageModules/blendSchedule.js' %}"></script>
{% endblock %}