{% extends 'base.html' %}

{% block content %}
    <div class='text-center'>
        <h1>Upcoming Shortages</h1>
        <br/><br/> 
    </div>
    <table class="table text-left table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Blend</th>
                <th scope="col">Description</th>
                <th scope="col">When_Short</th>
                <th scope="col">Line</th>
                <th scope="col">On_Hand_Now</th>
                <th scope="col">On_Hand During_Run</th>
                <th scope="col">Qty_Required</th>
                <th scope="col">On_Hand After_Run</th>
                <th scope="col">1Wk_Short</th>
                <th scope="col">2Wks_Short</th>
                <th scope="col">3Wks_Short</th>
                {% if user.is_staff %}
                    <th scope="col">Make_Blend</th>
                {% endif %}
            </tr>
        </thead>
        {% for item in blendlist %}
            <tr>
                <td>{{ item.blend }}</td>
                <td>{{ item.blend_description }}</td>
                <td>{{ item.starttime }}</td>
                <td>{{ item.line }}</td>
                <td>{{ item.oh_now }}</td>
                <td>{{ item.oh_during_run }}</td>
                <td>{{ item.qty_required }}</td>
                <td>{{ item.oh_after_run }}</td>
                <td>{{ item.one_week_short }}</td>
                <td>{{ item.two_week_short }}</td>
                <td>{{ item.three_week_short }}</td>
                {% if user.is_staff %}
                    <td>
                        <a href="/core/lotnumform">
                            <button class="btn btn-secondary">Make Lot</button>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock content %}