{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Blend Sheet Template</title>{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/blendSheetTemplate.css' %}">
    <script type="module" src="{% static 'core/js/pageModules/blendSheetTemplate.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <br>
    <div id="blendSheetContainer">
        <div id="blendSheetStepsContainer" class="table-responsive-sm">
            <table id="blendSheetStepsTable" class="table text-left table-bordered">
                <tr>
                    <td>
                        <div id="referenceNumberContainer" class="headerCell">
                            <p class="fieldLabel">Reference Number:&nbsp;</p>
                            <input id="referenceNumber" class="topLevelField shortTopLevelField" key="reference_number"></input>
                        </div>
                        <div id="preparedByContainer" class="headerCell">
                            <p class="fieldLabel">Prepared By:&nbsp;</p>
                            <input id="preparedBy" class="topLevelField shortTopLevelField" key="prepared_by"></input>
                            <input id="preparedDate" class="topLevelField" key="prepared_date"></input>
                        </div>
                    </td>
                    <td>
                        <div id="primaryFormula" class="text-center">
                            <h1>Starbrite Primary Formula</h1>
                            <div id="itemIdentityContainer" class="headerCell">
                                <input id="itemCode" class="topLevelField itemInfo" key="item_code"></h3>
                                <input id="itemDescription" class="topLevelField itemInfo" key="item_description"></h3>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="dateOfIssueContainer" class="headerCell">
                            <p class="fieldLabel">Date of Issue:&nbsp;</p>
                            <p id="lastEditDate" class="topLevelField" key="last_edit_date"></p>
                        </div>
                        <div id="lbsPerGallonContainer" class="headerCell">
                            <p class="fieldLabel">Lbs. Per Gallon:&nbsp;</p>
                            <input id="lbsPerGallon" class="topLevelField shortTopLevelField" key="lbs_per_gallon"></input>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="totalWeightContainer" class="headerCell">
                            <p class="fieldLabel">Total Weight:&nbsp;</p>
                            <p id="totalWeight" class="topLevelField" key="total_weight"></p>``
                        </div>
                    </td>
                    <td>
                        <div id="batchQuantityContainer" class="headerCell">
                            <h4 class="fieldLabel">Theory Gallons:&nbsp;</h4>
                            <input id="batchQuantity" class="topLevelField shortTopLevelField" key="batch_quantity"></input>
                        </div>
                    </td>
                    <td>
                        <div id="lotNumberContainer" class="headerCell">
                            <h4 class="fieldLabel">Lot Number:&nbsp;</h4>
                            <h4 id="lotNumber" class="topLevelField" key="lot_number">N/A</h4>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="blendSheetDivider"></div>
        <div id="blendSheetIngredientsContainer" class="table-responsive-sm">
            <table id="blendSheetIngredientsTable" class="table text-left table-bordered table-hover">
                <thead>
                    <th>Item Code</th>
                    <th>Ratio</th>
                    <th>Chemical Description</th>
                    <th>Qty</th>
                    <th>Unit</th>
                    <th class="text-center">Calculation Method</th>
                    <th>Weight Per Gal</th>
                </thead>
                <tbody id="blendSheetIngredientsTbody">
                </tbody>
                <tbody id="blendSheetPercentRowTbody">
                    <tr>
                        <td>
                        </td>
                        <td id="percentageTotalCell" class="text-center">
                            <em id="percentageTotalText"></em>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="blendSheetDivider"></div>
        <div id="processPreparationContainer">
            <h3>Process Preparation</h3>
            <input id="processPreparation" class="topLevelField" key="process_preparation"></input>
            <br>
        </div>
        <div id="blendSheetStepsContainer" class="table-responsive-sm">
            <table id="blendSheetStepsTable" class="table text-left table-bordered table-hover">
                <thead>
                    <th></th>
                    <th>Step</th>
                    <th>Unit</th>
                    <th>Item Code</th>
                    <th>Notes</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </thead>
                <tbody id="blendSheetStepsTbody">
                </tbody>
                
            </table>
        </div>
    </div>
   
{%endblock content%}