{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Blend Shortages</title>{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/blendShortages.css' %}">
{% endblock scripts %}
    

{% block content %}

    {% include 'core/modals/add-lotnum-modal.html' %}
    {% if foam_factor_is_populated %}
        <div class='text-center'>
            <h1>Blend Shortages</h1>
            <br/>
            <button id="create_list" style="display:none">Create Count List</button>
            <br/> 
            <br/> 
        </div>
        <table class="table text-left table-bordered table-hover">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    {% if user.is_staff %}<th scope="col" class="text-center"></th>{% endif %}
                    <th scope="col" class="text-center">Blend</th>
                    <th scope="col" class="text-center">Description</th>
                    <th scope="col" class="text-center">Last Count</th>
                    <th scope="col" class="text-center">Last Txn</th>
                    <th scope="col" class="text-center">First Shortage</th>
                    <th scope="col" class="text-center">Line</th>
                    <th scope="col" class="text-center">Scheduled Short</th>
                    <th scope="col" class="text-center">Unscheduled Short</th>
                    <th scope="col" class="text-center">Total Short</th>
                    {% if user.is_staff %}
                        <th scope="col">Lot Number</th>
                    {% endif %}
                    <th scope="col" class="text-center">Schedule Status</th>
                </tr>
            </thead>
            {% for item in blend_these_queryset %}
                <tr {% if item.component_item_code == "602037" or item.component_item_code == "602602" %}class="msrRow"{% endif %}{% if item.needs_count %}needsCount="needsCount"{% endif %}>
                    {% if user.is_staff %}<td class='text-center'>
                        <input type="checkbox" name={{ item.component_item_code }}></input>
                    </td>{% endif %}
                    <td {% if item.starttime < 40 and item.component_item_code == "602037"%}class="urgentBlend"{% endif %}{% if item.shortage_flag_list %}class="componentShort"{% endif %}>
                        <span title="{{ item.ingredients_list }}">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle blendinfo" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% if item.component_item_code == "602037" or item.component_item_code == "602602" %}
                                        <img src="{% static 'core/media/shrk.png' %}" height="50" width="50"></img>
                                    {% else %}
                                        <i class="fa fa-info-circle"></i>
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="/core/create-report/Lot-Numbers/{{ item.component_item_code }}">
                                        Lot Numbers
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/create-report/Transaction-History/{{ item.component_item_code }}">
                                        Transaction History
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/create-report/All-Upcoming-Runs/{{ item.component_item_code }}">
                                        Upcoming Runs
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/create-report/Count-History/{{ item.component_item_code }}">
                                        Count History
                                    </a></li>
                                </ul>
                                {{ item.component_item_code }}
                                {% if item.shortage_flag_list %}
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color:red">
                                        short
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        {% for item in item.shortage_flag_list %}
                                            <li><a class="dropdown-item" href="/core/create-report/Purchase-Orders/{{ item }}">
                                                {{ item }} <em>(click to view PO's)</em>
                                            </a></li>
                                            <li><a class="dropdown-item" href="/core/subcomponent-shortages/">
                                                Component Shortages
                                            </a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </span>
                    </td>
                    <td>{{ item.component_item_description }}</td>
                    <td>                            
                        <span title="{{ item.last_count_quantity|floatformat:0 }} gallons">{{ item.last_count_date }}</span>
                    </td>
                    <td>
                        {% if item.last_txn_code == "II" %}
                            <span title="{{ item.last_txn_code }} - Inventory Adjustment">{{ item.last_txn_date }}</span>
                        {% elif item.last_txn_code == "BI" %}
                            <span title="{{ item.last_txn_code }} - Run for Production">{{ item.last_txn_date }}</span>
                        {% elif item.last_txn_code == "BR" %}
                            <span title="{{ item.last_txn_code }} - Blend Produced">{{ item.last_txn_date }}</span>
                        {% elif item.last_txn_code == "PO" %}
                            <span title="{{ item.last_txn_code }} - Shipment Received">{{ item.last_txn_date }}</span>
                        {% else %}
                            <b>{{ item.last_txn_code }}</b>
                        {% endif %}
                    </td>
                    <td>{{ item.start_time|floatformat:2 }}</td>
                    <td>{{ item.prod_line }}</td>
                    <td>
                        <span title="1Wk: {{ item.one_wk_short|floatformat:2 }}&#13;2Wks: {{ item.two_wk_short|floatformat:2 }}&#13;3Wks: {{ item.three_wk_short|floatformat:2 }}&#13;">
                            {{ item.three_wk_short|floatformat:2 }} gal
                        </span>
                    </td>
                    <td>
                        <span title="">
                            {{ item.unscheduled_short|floatformat:2 }} gal
                        </span>
                    </td>
                    <td>
                        <span title="">
                            {{ item.total_shortage|floatformat:2 }} gal
                        </span>
                    </td>
                    <td class="text-center lotNumCell">
                        <button class="btn btn-secondary lotNumButton" 
                            data-bs-toggle="modal" data-bs-target="#addLotNumModal" 
                            data-itemcode="{{ item.component_item_code }}" data-desc="{{ item.component_item_description }}" 
                            data-totalqty="{{ item.total_shortage }}" data-line="Prod" data-desk="Desk_1">
                            +
                        </button>
                    </td>
                    <td class="text-center">
                        {% if item.schedule_value == "Not Scheduled" %}
                            Not Scheduled
                        {% else %}
                            <a href="/core/blend-schedule?blend-area={{ item.schedule_value }}">{{ item.schedule_value }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div style="background-color: rgb(255, 142, 142);">
            <h1 class="text-center">Foam Factor Table is not populated.</h1>
            </br>
            <h1 class="text-center">Restore this table in order to view blend shortages.</h1>
        </div>
    {% endif %}

{% endblock content %}

{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/pageModules/blendShortages.js' %}"></script>
{% endblock %}