{% extends 'base.html' %}
{% load static %}

{% block scripts %} 
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/blendStatistics.css' %}">
{% endblock scripts %}

{% block title %}<title>Blend Statistics</title>{% endblock %}

{% block content %}

<h1>Blend Demand for Next 40 Hours: {{ one_week_blend_demand.total }}</h1>
    </br>
    </br>
    <div id="thisWkLotNumsDiv" class="centerDiv">
        <h2>This Week's Blend Produced:  {{ lot_quantities_this_week.total }} gal</h2>
        <div id="thisWkLotNumListTable" class="table-responsive-sm displayTable">
            <table class="table text-left table-bordered">
                <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                    <tr>
                        <th scope="col" class='text-center'></th>
                        <th scope="col" class='text-center'>Monday</th>
                        <th scope="col" class='text-center'>Tuesday</th>
                        <th scope="col" class='text-center'>Wednesday</th>
                        <th scope="col" class='text-center'>Thursday</th>
                        <th scope="col" class='text-center'>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="rowName"><b>Lot Numbers</b></td>
                        <td>{% for lot in this_monday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                        <td>{% for lot in this_tuesday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                        <td>{% for lot in this_wednesday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                        <td>{% for lot in this_thursday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                        <td>{% for lot in this_friday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                    </tr>
                    <tr>
                        <td class="rowName"><b>Total Daily Qty</b></td>
                        <td>{{ lot_quantities_this_week.monday }} gal</td>
                        <td>{{ lot_quantities_this_week.tuesday }} gal</td>
                        <td>{{ lot_quantities_this_week.wednesday }} gal</td>
                        <td>{{ lot_quantities_this_week.thursday }} gal</td>
                        <td>{{ lot_quantities_this_week.friday }} gal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </br>
    </br>
    <h2>Last Week's Blend Produced: {{ lot_quantities_last_week.total }} gal</h2>
    <div id="thisWkLotNumsDiv" class="centerDiv">
        <div id="thisWkLotNumListTable" class="table-responsive-sm displayTable">
            <table class="table text-left table-bordered">
                <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                    <tr>
                        <th scope="col" class='text-center'></th>
                        <th scope="col" class='text-center'>Monday</th>
                        <th scope="col" class='text-center'>Tuesday</th>
                        <th scope="col" class='text-center'>Wednesday</th>
                        <th scope="col" class='text-center'>Thursday</th>
                        <th scope="col" class='text-center'>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="rowName"><b>Lot Numbers</b></td>
                        <td>{% for lot in last_monday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                        <td>{% for lot in last_tuesday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                        <td>{% for lot in last_wednesday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                        <td>{% for lot in last_thursday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                        <td>{% for lot in last_friday_lot_numbers %} {{ lot.lot_number }}: {{ lot.lot_quantity }} </br> {%endfor%}</td>
                    </tr>
                    <tr>
                        <td class="rowName"><b>Total Daily Qty</b></td>
                        <td>{{ lot_quantities_last_week.monday }} gal</td>
                        <td>{{ lot_quantities_last_week.tuesday }} gal</td>
                        <td>{{ lot_quantities_last_week.wednesday }} gal</td>
                        <td>{{ lot_quantities_last_week.thursday }} gal</td>
                        <td>{{ lot_quantities_last_week.friday }} gal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% comment %} <div class="centerDiv">
        {% if past_5_days_blends_produced.total.total < one_week_blend_demand.total %}
            <img src="{% static 'core/media/ohno.gif' %}">
        {% else %}
            <img src="{% static 'core/media/itsfine.gif' %}">
        {% endif %}
    </div> {% endcomment %}
    </br>
    </br>
    <div id="progressDiv" class="centerDiv">
        <div id="weekListTable" class="table-responsive-sm displayTable">
            <table class="table text-left table-bordered">
                <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                    <tr>
                        <th scope="col" class='text-center'>Last Week of Blends</th>

                        <th scope="col" class='text-center'>1wk Demand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr {% if last_week_blends_produced.total < one_week_blend_demand.total %}class="panicMode"{% endif %}>
                        <td>{{ last_week_blends_produced.total }}</td>
                        <td>{{ one_week_blend_demand.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

   


    <div id="tablesContainer">
        <div id="weekListTable" class="table-responsive-sm displayTable">
            <table class="table text-left table-bordered">
                <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                    <tr>
                        <th scope="col" class='text-center'>Week</th>
                    </tr>
                </thead>
                {% for item in blend_totals_2022 %}
                    <tr>
                        <td>{{ item.week_number}}</td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
        <div id="2021quantitiesTable" class="table-responsive-sm displayTable">
            <table class="table text-left table-bordered">
                <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                    <tr>
                        <th scope="col" class='text-center'>Blend Quantity 2021</th>
                    </tr>
                </thead>
                {% for item in blend_totals_2021 %}
                    <tr>
                        <td class="{{ item.week_number}}">{{ item.blend_quantity }}</td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
        <div id="2022quantitiesTable" class="table-responsive-sm displayTable">
            <table class="table text-left table-bordered">
                <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                    <tr>
                        <th scope="col" class='text-center'>Blend Quantity 2022</th>
                    </tr>
                </thead>
                {% for item in blend_totals_2022 %}
                    <tr>
                        <td class="{{ item.week_number}}">{{ item.blend_quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="2023quantitiesTable" class="table-responsive-sm displayTable">
            <table class="table text-left table-bordered">
                <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                    <tr>
                        <th scope="col" class='text-center'>Blend Quantity 2023</th>
                    </tr>
                </thead>
                {% for item in blend_totals_2023 %}
                    <tr>
                        <td class="{{ item.week_number}}">{{ item.blend_quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
{% endblock content %}
