{% extends 'base.html' %}
{% load static%}
{% block scripts%} <link rel="stylesheet" type="text/css" href="{% static 'core/userforms.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
{% endblock%}


{% block content %}
    <div>
        <h1>Daily Forklift Inspection</h1>
        {% if submitted %}
            Thank you, your daily forklift inspection checklist was submitted successfully.
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                <table id="forkliftchecklistform" style="table-layout:fixed; border-collapse:collapse;">
                {% for field in form %}
                    <td><b>{{ field.label }}:</b></td> <td>{{ field }}</td>
                    {% if forloop.counter|divisibleby:"2" %}
                        <tr></tr>
                    {% endif %}
                {% endfor %}
                </table>
                <input type="submit" value="Submit Checklist" class="btn btn-secondary" />
            </form>
        {% endif %}
    </div>
{% endblock content %}