{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script type="module" src="{% static 'core/js/pageModules/checklistMgmt.js' %}"></script>
{% endblock scripts %}

{% block title %}<title>Manage Checklist Notifications</title>{% endblock %}

{% block content %}

    <div>
        <h3>Recipient:</h3>
        <div id="checkBoxContainer">
            <input class="recipientCheckBox" type="checkbox" id="pmedlinEmail" name="pmedlinEmail" value="pmedlin@kinpakinc.com">
            <label for="pmedlinEmail">Parker Medlin</label><br>
            <input class="recipientCheckBox" type="checkbox" id="jdavisEmail" name="jdavisEmail" value="jdavis@kinpakinc.com">
            <label for="jdavisEmail">Jordan Davis</label><br>
            <input class="recipientCheckBox" type="checkbox" id="dfaucheuxEmail" name="dfaucheuxEmail" value="dfaucheux@kinpakinc.com">
            <label for="dfaucheuxEmail">David Faucheux</label><br>
            <input class="recipientCheckBox" type="checkbox" id="ddavisEmail" name="ddavisEmail" value="ddavis@kinpakinc.com">
            <label for="ddavisEmail">Danny Davis</label><br>
            <input class="recipientCheckBox" type="checkbox" id="ahaleEmail" name="ahaleEmail" value="ahale@kinpakinc.com">
            <label for="ahaleEmail">Anthony Hale</label><br>
            <input class="recipientCheckBox" type="checkbox" id="jchandlerEmail" name="jchandlerEmail" value="jchandler@kinpakinc.com">
            <label for="jchandlerEmail">Joe Chandler</label><br>
            <input class="recipientCheckBox" type="checkbox" id="pmedlinAltEmail" name="pmedlinAltEmail" value="pmedlinkinpakinc@gmail.com">
            <label for="pmedlinAltEmail">Parker Medlin ALT</label><br>
        </div>
        <!-- 'pmedlin@kinpakinc.com,jdavis@kinpakinc.com,dfaucheux@kinpakinc.com,ddavis@kinpakinc.com,ahale@kinpakinc.com,jchandler@kinpakinc.com' -->
        <!-- 'pmedlin@kinpakinc.com,jdavis@kinpakinc.com,park.medlin007@gmail.com,pmedlinkinpakinc@gmail.com,pmedlinkinpakinc2@gmail.com,pmedlinkinpakinc3@gmail.com'  -->
        <div>
            {% if daily_update_performed %}
                <p>The checklist submission tracking table has been updated for today.</p>
            {% else %}
                <p>The checklist submission tracking table has not been updated for today.</p>
                <a href="/core/update-forklift-submission-tracker">
                    <button class="btn btn-secondary">Update Submission Tracker</button>
                </a>
            {% endif %}
            </br>
            <a href="/core/email-submission-report?recipient=pmedlin@kinpakinc.com" id="emailSubmissionsLink">
                <button class="btn btn-secondary">Email Submission Report</button>
            </a>
            </br>
            </br>
            <a href="/core/email-issue-report?recipient=pmedlin@kinpakinc.com" id="emailIssuesLink">
                <button class="btn btn-secondary">Email Issues Report</button>
            </a>
        </div>
    </div>
    
{% endblock content %}
