{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Counts Needed</title>{% endblock %}

{% block content %}

    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Blend</th>
                    <th scope="col">Description</th>
                    <th scope="col">Exp. Qty</th>
                    <th scope="col">Count Qty</th>
                    <th scope="col">Count Date</th>
                </tr>
            </thead>
            {% for item in these_count_records %}
                <tr>
                    <td>{{ item.part_number }}</td>
                    <td>{{ item.part_description }}</td>
                    <td>{{ item.expected_quantity|floatformat:0 }} {{ item.standard_uom }}</td>
                    <td>
                        <input type="text" id="{{ item.part_number }}-ct_qty"></input>
                    </td>
                    <td id="{{ item.part_number }}-ct_date" >{{ todays_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

<script>
    $('input[id*="-ct_qty"]').change(function(){

    });
</script>


{% endblock content %}