{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Count History</title>{% endblock %}
{% block scripts %}<link rel="stylesheet" type="text/css" href ="{% static 'core/countrecords.css' %}">{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>Full Count History</h1>
        <br/><br/>
        <button id="createReportButton" class="btn btn-secondary" style="display:none;">Count Report</button>
        <button id="batchEditButton" class="btn btn-primary" style="display:none;" data-bs-toggle="modal" data-bs-target="#countRecordConfirmModal">
            Edit Counts
        </button>
        <button id="batchDeleteButton" class="btn btn-outline-danger" style="display:none;" data-bs-toggle="modal" data-bs-target="#countRecordConfirmModal">
            Delete Counts
        </button>
        <br/><br/>
    </div>
        <div class="table-responsive-sm">
            <table class="table text-left table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Blend</th>
                        <th scope="col">Description</th>
                        <th scope="col">Expected Qty</th>
                        <th scope="col">Counted Qty</th>
                        <th scope="col">Date Counted</th>
                        <th scope="col">Variance</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                
                {% for item in current_page.object_list %}
                    <tr>
                        <td class='text-center'>
                            <input type="checkbox" name={{ item.id }} class="reportCheckBox"></input>
                        </td>
                        <td>{{ item.part_number }}</td>
                        <td>{{ item.part_description }}</td>
                        <td>{{ item.expected_quantity|floatformat:0 }}</td>
                        <td>{{ item.counted_quantity|floatformat:0 }}</td>
                        <td>{{ item.counted_date|date:"M d, Y" }}</td>
                        <td>{{ item.variance|floatformat:0 }}</td>
                        <td class="text-center">
                            <button dataItemID="{{ item.id }}" type="button" class="btn btn-secondary editBtn" data-bs-toggle="modal" data-bs-target="#countRecordConfirmModal">
                                Edit
                            </button>
                            <button dataItemID="{{ item.id }}" type="button" class="btn btn-outline-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#countRecordConfirmModal">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="page-links" class='text-center'>
            {% if current_page.has_previous %}
                <a href="/core/countrecords/?page={{ current_page.previous_page_number }}">Previous Page</a>
            {% endif %}
            {% if current_page.has_next %}
                <a href="/core/countrecords/?page={{ current_page.next_page_number }}">Next Page</a>
            {% endif %}
            <div>
                Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
            </div>
        </div>

    {% include 'core/modals/countrecord-confirm-modal.html' %}

{% endblock content %}

{% block belowdeckscripts %}
    <script src="{% static 'core/js/countRecordUI.js' %}"></script>
{% endblock %}