{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Forklift Checklist</title>{% endblock %}

{% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>{% endblock %}
{% block scripts%} <link rel="stylesheet" type="text/css" href="{% static 'core/css/forkliftChecklist.css' %}">{% endblock%}


{% block content %}
    <div>
        <h1>Daily Forklift Inspection</h1>
        {% if submitted %}
            Thank you, your daily forklift inspection checklist was submitted successfully.
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                <table id="forkliftchecklistform" style="table-layout:fixed; border-collapse:collapse;">
                {% for field in checklist_form  %}
                    <td><b>{{ field.label }}:</b></td> <td>{{ field }}</br>{{field.errors}}</td>
                    {% if forloop.counter|divisibleby:"2" %}
                        <tr></tr>
                    {% endif %}
                {% endfor %}
                </table>
                
                <table id="mobileforkliftchecklistform" style="table-layout:fixed; border-collapse:collapse;">
                    {% for field in checklist_form  %}
                        <td><b>{{ field.label }}:</b> <br/>{{ field }}</br>{{field.errors}}</td>
                        {% if forloop.counter|divisibleby:"2" %}
                            <tr></tr>
                        {% endif %}
                    {% endfor %}
                </table>
                
                <input type="submit" value="Submit Checklist" class="btn btn-secondary" />
            </form>
        {% endif %}
    </div>
    <!-- it ain't pretty but it gets the job done -->
    <script>
            if ( $( '#mobileforkliftchecklistform' ).css( 'display' ) == 'none' ){
            $('#mobileforkliftchecklistform').remove();
            }
            if ( $( '#forkliftchecklistform' ).css( 'display' ) == 'none' ){
                $('#forkliftchecklistform').remove();
                }
            
            //Fix for validation reload to re-check all boxes previously checked by the user
            $("input[checked]").click();
            $('input[name="serial_number"]').attr("readonly", true);
    </script>
    <!-- autofill that sweet sweet serial -->
    <script>
        $( 'select[name="forklift"]' ).change(function() {
            console.log("select");
            let unitNumber = $('select[name="forklift"] option:selected').text();
            console.log(unitNumber);
            $.getJSON(`/core/forklift-serial-request/?unit-number=${unitNumber}`, // send json request with forklift unit number in request url
                    function(data) {
                        $('input[name="serial_number"]').val(data); // Update desc value
                    })
                    .fail(function() { // err handle
                        console.log("No");
                    });
            });
    </script>
{% endblock content %}