{% extends 'base.html' %}
{% load static %}
{% block scripts %} 
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/forkliftIssues.css' %}">
{% endblock%}
{% block title %}<title>Forklift Issues</title>{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>Forklift Issues</h1>
    </div>
    <br><br>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered table-hover">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    <th scope="col" class='text-center'>Lift</th>
                    <th scope="col" class='text-center'>Operator</th>
                    <th scope="col" class='text-center'>Issue</th>
                    <th scope="col" class='text-center'>Comment</th>
                </tr>
            </thead>
            {% for item in forklift_issues %}
                <tr>
                    {% for field in item %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    
{% endblock content %}