

{% extends 'base.html' %}
{% load static %}
{% block title %}<title>{{ prod_line }} Issue Sheets {{ issue_date }}</title>{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href ="{% static 'core/css/issueSheets.css' %}">
{% endblock %}

{% block content %}
    <div class="datechangesection">
        <div id="datepickdiv"><p>Choose new date for {{ prod_line }} issue sheets: <input type="text" id="datepicker" size="30"></p></div>
        <div id="changedatebuttondiv">
        </div>
    </div>
    {% for item in prod_runs_this_line %}
        <div class="contentarea">
            <div class='header'>
                <div class='pagetitle'>BLENDING ISSUE SHEET</div>
                <div class='headercontainer'>
                    <div>DATE: </div>
                    <div class="widener">
                        <div class='centerer'>{{ issue_date }}</div>
                    </div>
                </div>
                <div class='headercontainer'>
                    <div>LINE: </div>
                    <div class="widener">
                        <div class='centerer'>{{ prod_line }}</div>
                    </div>
                </div>
                <div class='headercontainer'>
                    <div>PRODUCT: </div>
                    <div class="widener">
                        <div>&emsp;{{ item.component_item_code }}&emsp;&emsp;&emsp;&emsp;{{ item.component_item_description }}</div>
                    </div>
                </div>
            </div>
            
            <div class="batchcontainer">
                <div class='triples'>
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum1 }}</div>
                            <div class='centerer widener'>{{ item.batchqty1 }}</div>
                        </div>
                    </div>

                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum2 }}</div>
                            <div class='centerer widener'>{{ item.batchqty2 }}</div>
                        </div>
                    </div>
                    
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum3 }}</div>
                            <div class='centerer widener'>{{ item.batchqty3 }}</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="headercontainer commentscontainer">
                <div>ADDITIONAL COMMENTS:</div>
                <div class="widener"></div>
            </div>

            <div class="batchcontainer">
                <div class='triples'>
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum4 }}</div>
                            <div class='centerer widener'>{{ item.batchqty4 }}</div>
                        </div>
                    </div>

                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum5 }}</div>
                            <div class='centerer widener'>{{ item.batchqty5 }}</div>
                        </div>
                    </div>
                    
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum6 }}</div>
                            <div class='centerer widener'>{{ item.batchqty6 }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="batchcontainer">
                <div class='triples'>
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum7 }}</div>
                            <div class='centerer widener'>{{ item.batchqty7 }}</div>
                        </div>
                    </div>

                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum8 }}</div>
                            <div class='centerer widener'>{{ item.batchqty8 }}</div>
                        </div>
                    </div>
                    
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>{{ item.batchnum9 }}</div>
                            <div class='centerer widener'>{{ item.batchqty9 }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <p style="page-break-before: always; color:white;">.</p>
        <script>
            //MAKE SURE TO CSS THIS SECTION OUT OF THE PRINT AREA
            $( function() {
                $( "#datepicker" ).datepicker({"dateFormat":"mm-dd-yy"});
            });
            $( document ).ready(function(){
                $( "#datepicker" ).on("change", function() {
                    issue_date=$( this ).val();
                    base_url = window.location.href.split('core')[0];
                    url_str = '"'+base_url+'core/issue-sheets/{{ prod_line }}/'+issue_date+'"'
                    console.log(url_str)
                    console.log(base_url)
                    if($( "#submitbutton" ).length == 0) {
                        $( "#changedatebuttondiv" ).append('<a href='+url_str+' id="changedatebuttonlink"><input type="submit" id="submitbutton" target="blank" name="submit" value="Change" class="btn btn-secondary"></a>');
                    } else {
                        $( "#changedatebuttonlink" ).attr('href',issue_date);
                    }
                });
            });    
        </script>
    {% endfor %}
{% endblock content %}

