{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href ="{% static 'core/css/loopStatus.css' %}">
    <script type="module" src="{% static './core/js/pageModules/loopStatus.js' %}"></script>
{% endblock %}
{% block title %}<title>Loop Status</title>{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Loop Status</h1>
        <button id="restartLoopBtn" class="btn btn-warning mb-3">
            <i class="fas fa-sync-alt mr-2"></i> Restart Data Looper
        </button>
    </div>
    <br>
    <div id="loopStatusTable" class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    <th scope="col" class='text-center'>Function Name</th>
                    <th scope="col" class='text-center'>Last Run</th>
                </tr>
            </thead>
            <tbody>
                {% for item in loop_statuses %}
                    <tr class="{{ item.function_result }}">
                        <td>{{ item.function_name }}</td>
                        <td class="timestampCell">{{ item.time_stamp|date:"m/d/Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}