{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Lot Numbers</title>{% endblock %}


{% block content %}
    <div class='text-center'>
        <h1>Lot Numbers</h1>
        <a href="/core/lotnumform">
            <button>New Lot Number</button>
        </a>
    </div>
    <br/><br/>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class='text-center'>Blend</th>
                    <th scope="col" class='text-center'>Description</th>
                    <th scope="col" class='text-center'>Lot_Number</th>
                    <th scope="col" class='text-center'>Quantity</th>
                    <th scope="col" class='text-center'>Date</th>
                    <th scope="col" class='text-center'>Scheduling</th>
                    <th scope="col" class='text-center'>Blend Sheet</th>
                </tr>
            </thead>
            {% for item in current_page.object_list %}
                <tr>
                    <td>{{ item.part_number }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.lot_number }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.date_created|date:"M d, Y" }}</td>
                    <td class='text-center'>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Schedule For...
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/core/addlot/{{ item.lot_number }}/{{ item.part_number }}/Desk1">Desk 1</a></li>
                                <li><a class="dropdown-item" href="/core/addlot/{{ item.lot_number }}/{{ item.part_number }}/Desk2">Desk 2</a></li>
                            </ul>
                        </div>
                        </a>
                    </td>
                    <td class='text-center'>
                        <button class="btn btn-secondary" href="/core/blendsheet/{{ item.lot_number }}">Blend Sheet
                            <a href="/core/blendsheet/{{ item.lot_number }}"></a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class='text-center'>
        <div id="page-links">
            {% if current_page.has_previous %}
                <a href="/core/lotnumrecords/?page={{ current_page.previous_page_number }}">Previous Page</a>
            {% endif %}
            {% if current_page.has_next %}
                <a href="/core/lotnumrecords/?page={{ current_page.next_page_number }}">Next Page</a>
            {% endif %}
        </div>
        <div>
            Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
        </div>
    </div>

{% endblock content %}