{% extends 'base.html' %}

<!-- Header Blocks -->
{% block title %}<title>New Lot Number</title>{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>  
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />  
{% endblock %}

<!-- Body Blocks -->
{% block content %}
    <div>
        <h1>New Lot Number</h1>
        <h2>{{nextLotNum}}</h2>
        <br/>
        {% if submitted %}
            <a href='/core/lotnumrecords'>View All Lot Numbers</a>
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Create New Lot" class="btn btn-secondary">
            </form>
        {% endif %}
    </div>
    <style>
        .ui-autocomplete {
             max-height: 200px;
             overflow-y: auto;
             /* prevent horizontal scrollbar */
             overflow-x: hidden;
             /* add padding to account for vertical scrollbar */
             padding-right: 20px;
         } 
    </style>
    <script>
        //Item Code Dropdown
        $( function() {
            var availableItemCodes = [
                {% for CiItem in CiItemDB %}
                    "{{CiItem.itemcode}}",
                {% endfor %}
            ];
            //Autofill description when choice is selected
            $("#id_part_number").autocomplete({
                source: availableItemCodes,
                change: function( event, ui ) {
                    var itemCode = $('#id_part_number').val()
                    itemCode = itemCode.toUpperCase()
                    document.getElementById('id_part_number').value=itemCode
                    var item = itemCode
                    $.getJSON('itemcodedesc_request/',{item:item}, 
                        function(data) {
                            document.getElementById('id_description').value=data;
                    })
                        .fail(function() {
                            console.log("Part Number field is blank or not found");
                            document.getElementById('id_description').value=""
                        })
                },
                select: function( event , ui ) {
                    var item = ui.item.label.toUpperCase()
                    $.getJSON('itemcodedesc_request/',{item:item}, 
                        function(data) {
                            document.getElementById('id_description').value=data;
                    })
                        .fail(function() {
                            console.log("ahhh something went wrong boss");
                            document.getElementById('id_description').value=""
                        })
                },
            });
        });
     </script> 
  {% endblock content %}
<!-- End Body -->
