{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>New Lot Number</title>{% endblock %}

{% block scripts %} 
    <link rel="stylesheet" type="text/css" href="{% static 'core/userforms.css' %}">
{% endblock %}


<!-- Body Blocks -->
{% block content %}
    <div>
        <h1>New Lot Number</h1>
        <h2>{{nextLotNum}}</h2>
        {% if submitted %}
            <a href='/core/lotnumrecords'>View All Lot Numbers</a>
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                <table id="lotnumformtable">
                    {{ form.as_table }}
                    <tr>
                        <td>
                            <input type="submit" name="submit" value="Create New Lot" class="btn btn-secondary">
                        </td>
                    </tr>
                </table>
        </form>
        {% endif %}
    </div>
<!-- Item Code Dropdown Script must be inline for Django template tags to function -->
    <script>
        try {
            $( function() {
                var availableItemCodes = [
                    {% for CiItem in CiItemDB %}
                        "{{CiItem.itemcode}}",
                    {% endfor %}
                ];
                //Autofill description when choice is selected
                $("#id_part_number").autocomplete({
                    source: availableItemCodes,
                    change: function( event, ui ) {
                        var item = $('#id_part_number').val().toUpperCase()
                        $('#id_part_number').val(item)
                        $.getJSON('itemcodedesc_request/',{item:item}, 
                            function(data) {
                                $('#id_description').val(data);
                        })
                            .fail(function() {
                                console.log("Part Number field is blank or not found");
                                $('#id_description').val("")
                            })
                    },
                    select: function( event , ui ) {
                        var item = ui.item.label.toUpperCase()
                        $.getJSON('itemcodedesc_request/',{item:item}, 
                            function(data) {
                                $('#id_description').val(data);
                        })
                            .fail(function() {
                                console.log("Part Number field is blank or not found");
                                $('#id_description').val("")
                            })
                    },
                });
            });
        } catch (pnError) {
            console.log(pnError)
        }
    </script>
  {% endblock content %}
<!-- End Body -->
