{% extends 'base.html' %}
{% load static %}
{% block scripts %} 
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/lotNumRecords.css' %}">
{% endblock%}
{% block title %}<title>Lot Numbers</title>{% endblock %}


{% block content %}
    <div class='text-center'>
        <h1>Lot Numbers</h1>
        {% if user.is_staff %}
            {% if edit_yesno == 'no' %}
                <button id="addLotNumButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addLotNumModal">
                    Add New Lot
                </button>
            {% elif edit_yesno == 'yes' %}
                <a href="/core/lotnumrecords/?load_add_modal=True">
                    <button id="addLotNumButton" class="btn btn-primary">
                        Add New Lot
                    </button>
                </a>
            {% endif %}
            <button id="batchDeleteButton" class="btn btn-outline-danger" style="display:none;" data-bs-toggle="modal" data-bs-target="#lotNumConfirmModal">
                Delete Counts
            </button>
        {% endif %}
    </div>
    

    {% include 'core/modals/add-lotnum-modal.html' %}
    {% include 'core/modals/edit-lotnum-modal.html' %}
    {% include 'core/modals/delete-lotnum-modal.html' %}
    {% include 'core/modals/add-scheduleitem-modal.html' %}

    <br/><br/>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    <th scope="col" class='text-center'></th>
                    <th scope="col" class='text-center'>Blend</th>
                    <th scope="col" class='text-center'>Description</th>
                    <th scope="col" class='text-center'>Lot Number</th>
                    <th scope="col" class='text-center'>Lot Qty</th>
                    <th scope="col" class='text-center'>Date Created</th>
                    <th scope="col" class='text-center'>Line</th>
                    {% comment %} <th scope="col" class='text-center'>Desk</th> {% endcomment %}
                    <th scope="col" class='text-center'>Run Date</th>
                    <th scope="col" class='text-center'>Qty OH</th>
                    <th scope="col" class='text-center'>Date Entered</th>
                    {% if user.is_staff %}
                        <th scope="col" class='text-center'>Schedule Status</th>
                        <th scope="col" class='text-center'></th>
                    {% endif %}
                </tr>
            </thead>
            {% for item in current_page.object_list %}
                <tr class="{{item.line}}Row">
                    <td class='text-center'>
                        <input type="checkbox" name={{ item.id }} class="rowCheckBox"></input>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle blendinfo" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-info-circle"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/core/reports/Lot-Numbers/{{ item.item_code }}">
                                    Lot Numbers
                                </a></li>
                                <li><a class="dropdown-item" href="/core/reports/Transaction-History/{{ item.item_code }}">
                                    Transaction History
                                </a></li>
                                <li><a class="dropdown-item" href="/core/reports/All-Upcoming-Runs/{{ item.item_code }}">
                                    Upcoming Runs
                                </a></li>
                                <li><a class="dropdown-item" href="/core/reports/Count-History/{{ item.item_code }}">
                                    Count History
                                </a></li>
                            </ul>
                            {{ item.item_code }}
                        </div>
                    </td>
                    <td>{{ item.item_description }}</td>
                    <td>{{ item.lot_number }}</td>
                    <td class='text-center'>{{ item.lot_quantity|floatformat:0 }}</td>
                    <td>{{ item.date_created|date:"M d, Y" }}</td>
                    <td>{{ item.line }}</td>
                    {% comment %} <td>{{ item.desk }}</td> {% endcomment %}
                    <td class='text-center'>{{ item.run_date|date:"M d, Y" }}</td>
                    <td class='text-center'>
                        {% if not item.sage_qty_on_hand %}
                            N/A
                        {% else %}
                            {{ item.sage_qty_on_hand|floatformat:4 }}
                        {% endif %}
                    </td>
                    <td class='text-center'>
                        {% if not item.sage_entered_date %}
                            Not Entered
                        {% else %}
                            {{ item.sage_entered_date|date:"M d, Y" }}
                        {% endif %}
                    </td>
                    {% if user.is_staff %}
                        <td class="text-center">
                            {% if item.sage_entered_date %}
                                Blended
                            {% elif item.schedule_value == "Not Scheduled" %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Unscheduled</button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item addToScheduleLink" data-bs-toggle="modal" data-itemcode="{{ item.item_code }}" data-desc="{{ item.item_description }}" data-lotnum="{{ item.lot_number }}" data-lotqty="{{ item.lot_quantity }}"   data-line="{{ item.line }}" data-blendDesk="{{item.desk}}" data-bs-target="#addToScheduleModal">
                                            Assign to {{ item.desk }}
                                        </a></li>
                                        <li><a class="dropdown-item" dataItemID="{{ item.id }}" href="/core/lotnumrecords/?edit_yesno=yes&lot_id={{ item.id }}">
                                            Change Desk
                                        </a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <b><a href="/core/blendschedule/{{ item.schedule_value }}">{{ item.schedule_value }}</a></b>
                            {% endif %}
                        </td>
                        <td style="display:flex;">
                            <a href="/core/lotnumrecords/?edit_yesno=yes&lot_id={{ item.id }}" style="margin-right: 5px;">
                                <button dataItemID="{{ item.id }}" type="button" class="btn btn-outline-primary">
                                    <i class="fas fa-edit" disabled="disabled"></i>
                                </button>
                            </a>
                            <button dataItemID="{{ item.id }}" style="margin-right: 5px;" type="button" class="btn btn-outline-primary duplicateBtn" data-bs-toggle="modal" data-lotqty="{{ item.lot_quantity }}" data-rundate="{{ item.run_date|date:"m/d/Y" }}" data-desc="{{ item.item_description }}" data-itemcode="{{ item.item_code }}" data-desk="{{ item.desk }}"  data-line="{{ item.line }}" data-bs-target="#addLotNumModal">
                                <i class="far fa-clone" disabled="disabled"></i>
                            </button>
                            <button dataItemID="{{ item.id }}" type="button" class="btn btn-outline-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#lotNumConfirmModal">
                                <i class="fa fa-trash" disabled="disabled"></i>
                            </button>
                            
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    </br>
    <div class='text-center'>
        <div id="page-links" class='text-center'>
            <nav aria-label="Page navigation">   
                <ul class="pagination justify-content-center">
                    {% if current_page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>   
                    {% endif %}
                    
                    {% for n in current_page.paginator.page_range %}
                        {% if current_page.number == n %}
                            <li class="page-item active">
                                <span class="page-link">{{ n }}<span class="sr-only"></span></span>
                            </li>
                        {% elif n > current_page.number|add:'-3' and n < current_page.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if current_page.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ current_page.paginator.num_pages }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Last</span>
                            </a>
                        </li>
                    {% endif %}   
                </ul> 
            </nav>
        </div>
    </br>
        <div>
            Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
        </div>
    </div>
{% endblock content %}


{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/objects/modalObjects.js' %}"></script>
    <script type="module" src="{% static 'core/js/lotNumRecordUI.js' %}"></script>
    <script src="{% static 'core/js/lotNumModal.js' %}"></script>
    {% if load_edit_modal %}
        <script>
            $(document).ready(function(){
                $("#editLotNumModal").modal('show');
            });
        </script>
    {% endif %}
    {% if load_add_modal %}
        <script>
            $(document).ready(function(){
                $("#addLotNumModal").modal('show');
            });
        </script>
    {% endif %}
    {% if edit_yesno == 'no' %}
        <script>
            $(document).ready(function(){
                $("#editLotNumModal").remove();
            });
        </script>
    {% elif edit_yesno == 'no' %}
        <script>
            $(document).ready(function(){
                $("#addLotNumModal").remove();
            });
        </script>
    {% endif %}
{% endblock %}