{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>New Lot Number</title>{% endblock %}

{% block scripts %} 
    <link rel="stylesheet" type="text/css" href="{% static 'core/userforms.css' %}">
{% endblock scripts %}


<!-- Body Blocks -->
{% block content %}
    
<style>

    
</style>
    <div>
        <h1>New Lot Number</h1>
        <h2>{{nextLotNum}}</h2>
        {% if submitted %}
            <a href='/core/lotnumrecords'>View All Lot Numbers</a>
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                <table id="lotnumformtable">
                    {{ form.as_table }}
                </table>
                <input type="submit" name="submit" value="Create New Lot" class="btn btn-secondary">
            </form>
        {% endif %}
    </div>
<!-- Item Code Dropdown Script must be inline for Django template tags to function -->
    <script>
        try {
            $( function() {
                var availableItemCodes = [
                    {% for CiItem in CiItemDB %}
                        "{{CiItem.itemcode}}",
                    {% endfor %}
                ];
                $("#id_part_number").autocomplete({ // Sets up a dropdown for the part number field 
                    source: availableItemCodes,
                    change: function( event, ui ) { // Autofill desc when change event happens to the part_number field 
                        var item = $('#id_part_number').val().toUpperCase() // Make sure the part_number field is uppercase
                        $.getJSON('itemcodedesc_request/',{item:item}, // send json request with part number in request url
                            function(data) {
                                $('#id_description').val(data); // Update desc value
                        })
                            .fail(function() { // err handle
                                console.log("Part Number field is blank or not found");
                                $('#id_description').val("")
                            })
                    },
                    select: function( event , ui ) { // Autofill desc when select event happens to the part_number field 
                        var item = ui.item.label.toUpperCase() // Make sure the part_number field is uppercase
                        $.getJSON('itemcodedesc_request/',{item:item}, // send json request with part number in request url
                            function(data) {
                                $('#id_description').val(data); // Update desc value
                        })
                            .fail(function() { // err handle
                                console.log("Part Number field is blank or not found");
                                $('#id_description').val("")
                            })
                    },
                });
            });
        } catch (pnError) {
            console.log(pnError)
        }
    </script>
  {% endblock content %}
<!-- End Body -->
