{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Maximum Blends</title>{% endblock %}

{% block content %}



{% endblock content %}

{% block scripts %}
    <script>
        window.addEventListener("load", function(e) {
            let encodedComponentItemCode = btoa(JSON.stringify("100421G2"));
            let encodedItemCode = btoa(JSON.stringify("100501K"));
            let maxBlendInfo;
            $.ajax({
                url: `/core/getmaximumblendcapabilitynumbers/${encodedComponentItemCode}/${encodedItemCode}`,
                async: false,
                dataType: 'json',
                success: function(data) {
                    maxBlendInfo = data;
                }
            });
            console.log(maxBlendInfo);
            return maxBlendInfo;
        });
    </script>
{% endblock %}