{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Production Timetable</title>{% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/productionRuns.css' %}">
{% endblock scripts %}

{% block content %}
    <div class='text-center'>
        <h1>All Upcoming Production Runs</h1>
        <br/><br/>
    </div>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    <th scope="col">Bill No.</th>
                    <th scope="col">Blend Part No.</th>
                    <th scope="col">Blend Description</th>
                    <th scope="col">Run Qty</th>
                    <th scope="col">Qty On Hand</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">Line</th>
                    <th scope="col">On Hand After Run</th>
                </tr>
            </thead>
            {% for item in current_page.object_list %}
                <tr>
                    <td>{{ item.item_code }}</td>
                    <td>
                        <span title="{{ item.ingredients_list }}">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle blendinfo" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="/core/reports/Lot-Numbers/{{ item.blend_pn }}">
                                        Lot Numbers
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/reports/Transaction-History/{{ item.blend_pn }}">
                                        Transaction History
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/reports/All-Upcoming-Runs/{{ item.blend_pn }}">
                                        Upcoming Runs
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/reports/Count-History/{{ item.blend_pn }}">
                                        Count History
                                    </a></li>
                                </ul>
                                {{ item.blend_pn }}
                            </div>
                        </span>
                    </td>
                    <td>{{ item.blend_desc }}</td>
                    <td>{{ item.adjustedrunqty|floatformat:2 }}</td>
                    <td>{{ item.qtyonhand|floatformat:2 }}</td>
                    <td>{{ item.starttime|floatformat:2 }}</td>
                    <td>{{ item.prodline }}</td>
                    <td>{{ item.oh_after_run|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class='text-center'>
        <div id="page-links" class='text-center'>
            <nav aria-label="Page navigation">   
                <ul class="pagination justify-content-center">
                    {% if current_page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>   
                    {% endif %}
                    
                    {% for n in current_page.paginator.page_range %}
                        {% if current_page.number == n %}
                            <li class="page-item active">
                                <span class="page-link">{{ n }}<span class="sr-only"></span></span>
                            </li>
                        {% elif n > current_page.number|add:'-3' and n < current_page.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if current_page.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ current_page.paginator.num_pages }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Last</span>
                            </a>
                        </li>
                    {% endif %}   
                </ul> 
            </nav>
        </div>
    </br>
        <div>
            Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
        </div>
    </div>
    
{% endblock content %}