{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Reports</title>{% endblock %}

{% block scripts %} 
    <link rel="stylesheet" type="text/css" href="{% static 'core/userforms.css' %}">
{% endblock scripts %}


<!-- Body Blocks -->
{% block content %}
    
<style>


</style>
    <div>
            <h1>Choose Your Report</h1>
                <form action="." method=POST>
                {% csrf_token %}
                <table id="reportformtable">
                    {{ report_form.as_table }}
                </table>
                <a href="http://google.com" id="reportlink" target="blank">
                    <input type="submit" id="submitbutton" disabled="True" target="blank" name="submit" value="Generate Report" class="btn btn-secondary">
                </a>
                <div>
                    <h2 id='itemdesc'></h2>
                </div>
                </form>
                
    </div>
    <!-- Item Code Dropdown Script must be inline for Django template tags to function -->
    <script>
        try {
            $( function() {
                var availableItemCodes = [
                    {% for item in ci_item_queryset %}
                        "{{item.itemcode}}",
                    {% endfor %}
                ];

                $("#id_part_number").autocomplete({ // Sets up a dropdown for the part number field 
                    source: availableItemCodes,
                    change: function( event, ui ) { // Autofill desc when change event happens to the part_number field 
                        var item = $('#id_part_number').val().toUpperCase() // Make sure the part_number field is uppercase
                        $.getJSON('itemcodedesc_request/',{item:item}, // send json request with part number in request url
                            function(data) {
                                var item = $('#id_part_number').val().toUpperCase() 
                                var report = $('#id_which_report').val()
                                $("#id_which_report").change(function(){ // Also make sure the link updates when the which_report field changes
                                    var report = $('#id_which_report').val()
                                    var hrefStr = report + '/' + item // string for href value
                                    $('a[id=reportlink]').attr("href", hrefStr); // Update the href attr of the anchor on top of submit button
                                });
                                submitbutton.value = "Generate Report for " +data; // Change submit button display text
                                var hrefStr = report + '/' + item
                                $('a[id=reportlink]').attr("href", hrefStr);
                                
                        })
                            .fail(function() { // err handle
                                console.log("Part Number field is blank or not found");
                                $('#id_itemdesc').val("")
                            })
                    },
                    select: function( event , ui ) { // Autofill desc when select event happens to the part_number field 
                        var item = ui.item.label.toUpperCase() // Make sure the part_number field is uppercase
                        $.getJSON('itemcodedesc_request/',{item:item}, // send json request with part number in request url
                            function(data) {
                                var item = $('#id_part_number').val().toUpperCase()
                                var report = $('#id_which_report').val()
                                $("#id_which_report").change(function(){ // Also make sure the link updates when the which_report field changes
                                    var report = $('#id_which_report').val()
                                    var hrefStr = report + '/' + item  // string for href value
                                    $('a[id=reportlink]').attr("href", hrefStr); // Update the href attr of the anchor on top of submit button
                                });
                                submitbutton.value = "Generate Report for " +data; // Change submit button display text
                                var hrefStr = report + '/' + item
                                $('a[id=reportlink]').attr("href", hrefStr); // Update the href attr of the anchor on top of submit button
                        })
                            .fail(function() {
                                console.log("Part Number field is blank or not found");
                                $('#id_itemdesc').val("")
                            })
                    },
                });
                
            });
        } catch (pnError) {
            console.log(pnError)
        }
    </script>


{% endblock content %}