{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Reports</title>{% endblock %}

<!-- Body Blocks -->
{% block content %}
    
<style>


</style>
    <div>
        <h1>Choose Your Report</h1>
        <table id="reportformtable">
            <tbody>
                <tr>
                    <td>
                        <label for="id_which_report">Select report:</label>
                    </td>
                    <td>
                        <select name="which_report" id="id_which_report">
                            <option reportval="Chem-Shortage" class="reportOption">Chem Shortage</option>
                            <option reportval="Startron-Runs" class="reportOption">Startron Runs</option>
                            <option reportval="Transaction-History" class="reportOption">Transaction History</option>
                            <option reportval="Lot-Numbers" class="reportOption">Lot Numbers</option>
                            <option reportval="All-Upcoming-Runs" class="reportOption">All Upcoming Runs</option>
                            <option reportval="Count-History" class="reportOption">Count History</option>
                            <option reportval="Counts-Transactions" class="reportOption">Counts And Transactions</option>
                            <option reportval="Where-Used" class="reportOption">Where Used</option>
                        </select>
                    </td>
                </tr>
                <tr id="itemCodeRow">
                    <td>
                        <label for="id_item_code">Enter Part Number:</label>
                    </td>
                    <td>
                        <input type="text" name="item_code" maxlength="100" required="" id="id_item_code" class="ui-autocomplete-input" autocomplete="off">
                    </td>
                </tr>
                <tr id="itemDescriptionRow">
                    <td>
                        <label for="id_item_description">Enter Description:</label>
                    </td>
                    <td>
                        <input type="text" name="item_description" maxlength="100" required="" id="id_item_description" class="ui-autocomplete-input" autocomplete="off">
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="" id="reportLink" target="blank" itemcode="" itemdesc="" reporttype="Chem-Shortages" style="display: none;">
            <button id="submitbutton" class="btn btn-secondary">Generate Report</button>
        </a>
    </div>
    
    <p id="warningParagraph" style="display: none;"><em>Incomplete or invalid search term.</em></p>

<script type="module" src="{% static 'core/js/pageModules/reportCenter.js' %}"></script>

{% endblock content %}