{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Reports</title>{% endblock %}

{% block scripts %} 
    <link rel="stylesheet" type="text/css" href="{% static 'core/userforms.css' %}">
{% endblock scripts %}


<!-- Body Blocks -->
{% block content %}
    
<style>


</style>
    <div>
            <h1>Choose Your Report</h1>
                <form action="." method=POST>
                {% csrf_token %}
                <table id="reportformtable">
                    {{ reportform.as_table }}
                </table>
                <a href="http://google.com" id="reportlink" target="blank">
                    <input type="submit" id="submitbutton" disabled="True" target="blank" name="submit" value="Generate Report" class="btn btn-secondary">
                </a>
                <div>
                    <h2 id='itemdesc'></h2>
                </div>
                </form>
                <div>
                    <h2>Chemicals Short in the Next 3 Weeks:</h2>
                    {% for item in chemsShort %}
                        {% if item.chemShortThreeWk < 0 %}
                        <div>
                            {{ item.component_itemcode }} {{ item.component_desc }}: {{ item.chemShortThreeWk|floatformat:2 }}
                            <br>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
    </div>
    <!-- Item Code Dropdown Script must be inline for Django template tags to function -->
    <script>
        try {
            $( function() {
                var availableItemCodes = [
                    {% for CiItem in CiItemDB %}
                        "{{CiItem.itemcode}}",
                    {% endfor %}
                ];
                //Autofill description when choice is selected
                $("#id_part_number").autocomplete({
                    source: availableItemCodes,
                    change: function( event, ui ) {
                        var item = $('#id_part_number').val().toUpperCase()
                        $('#id_part_number').val(item)
                        $.getJSON('itemcodedesc_request/',{item:item}, 
                            function(data) {
                                var item = $('#id_part_number').val().toUpperCase()
                                var report = $('#id_which_report').val()
                                $("#id_which_report").change(function(){
                                    var report = $('#id_which_report').val()
                                    console.log(item)
                                    console.log(report)
                                    submitbutton.value = "Generate Report for " +data;
                                    var hrefStr = report + '/' + item
                                    $('a[id=reportlink]').attr("href", hrefStr);
                                });
                                //itemdesc.innerText = data;
                                submitbutton.value = "Generate Report for " +data;
                                var hrefStr = report + '/' + item
                                $('a[id=reportlink]').attr("href", hrefStr);
                                
                        })
                            .fail(function() {
                                console.log("Part Number field is blank or not found");
                                $('#id_itemdesc').val("")
                            })
                    },
                    select: function( event , ui ) {
                        var item = ui.item.label.toUpperCase()
                        $.getJSON('itemcodedesc_request/',{item:item}, 
                            function(data) {
                                var item = $('#id_part_number').val().toUpperCase()
                                var report = $('#id_which_report').val()
                                $("#id_which_report").change(function(){
                                    var report = $('#id_which_report').val()
                                    submitbutton.value = "Generate Report for " +data;
                                    var hrefStr = report + '/' + item
                                    $('a[id=reportlink]').attr("href", hrefStr);
                                });
                                //itemdesc.innerText = data;
                                submitbutton.value = "Generate Report for " +data;
                                var hrefStr = report + '/' + item
                                $('a[id=reportlink]').attr("href", hrefStr);
                        })
                            .fail(function() {
                                console.log("Part Number field is blank or not found");
                                $('#id_itemdesc').val("")
                            })
                    },
                });
            //please dont judge me
                
            });
        } catch (pnError) {
            console.log(pnError)
        }
    </script>


{% endblock content %}