{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Blend Issue Sheet</title>{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href ="{% static 'core/css/issueSheets.css' %}">
{% endblock %}

{% block content %}
    <div class="contentarea">
        {% if not run_dict.lot_numbers_found %}
            <div class='header'>
                <div class='pagetitle text-center'>No lot numbers generated yet. Please email Parker.</div>
            </div>
        {% else %}
            <div class='header'>
                <div class='pagetitle'>BLENDING ISSUE SHEET</div>
                <div class='headercontainer'>
                    <div>RUN DATE: </div>
                    <div class="widener">
                        <div class='centerer'>{{ run_dict.issue_date }}</div>
                    </div>
                </div>
                <div class='headercontainer'>
                    <div>LINE: </div>
                    <div class="widener">
                        <div class='centerer'>{{ run_dict.prod_line }}</div>
                    </div>
                </div>
                <div class='headercontainer'>
                    <div>PRODUCT: </div>
                    <div class="widener">
                        <div>&emsp;{{ run_dict.component_item_code }}&emsp;&emsp;&emsp;&emsp;{{ run_dict.component_item_description }}</div>
                    </div>
                </div>
            </div>
            
            <div class="batchcontainer">
                <div class='triples'>
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.0.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.0.1 }}</div>
                        </div>
                    </div>

                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.1.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.1.1 }}</div>
                        </div>
                    </div>
                    
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.2.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.2.1 }}</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="headercontainer commentscontainer">
                <div>ADDITIONAL COMMENTS:</div>
                <div class="widener"></div>
            </div>

            <div class="batchcontainer">
                <div class='triples'>
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.3.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.3.1 }}</div>
                        </div>
                    </div>

                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.4.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.4.1 }}</div>
                        </div>
                    </div>
                    
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.5.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.5.1 }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="batchcontainer">
                <div class='triples'>
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.6.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.6.1 }}</div>
                        </div>
                    </div>

                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.7.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.7.1 }}</div>
                        </div>
                    </div>
                    
                    <div class='triplecontainer'>
                        <div>
                            <div>BATCH #:&nbsp;</div>
                            <div>GAL ISSUED:&nbsp;</div>
                        </div>
                        <div>
                            <div>&nbsp;{{ run_dict.lot_numbers.8.0 }}</div>
                            <div class='centerer widener'>&nbsp;{{ run_dict.lot_numbers.8.1 }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}