{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Lot Numbers</title>{% endblock %}


{% block content %}
<h1>Lot Numbers</h1>
    <div>
        <a href="/core/lotnumform">
            <button class="btn btn-secondary">New Lot Number</button>
        </a>
        <br/><br/> 
    </div>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Blend</th>
                    <th scope="col">Description</th>
                    <th scope="col">Lot_Number</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                    <th scope="col">Scheduling</th>
                </tr>
            </thead>
            {% for item in current_page.object_list %}
                <tr>
                    <td>{{ item.part_number }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.lot_number }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.date_created|date:"M d, Y" }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Schedule For...
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/core/addlot/{{ item.lot_number }}/{{ item.part_number }}/Desk1">Desk 1</a></li>
                                <li><a class="dropdown-item" href="/core/addlot/{{ item.lot_number }}/{{ item.part_number }}/Desk2">Desk 2</a></li>
                            </ul>
                        </div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="page-links">
        {% if current_page.has_previous %}
            <a href="/core/testpage/?page={{ current_page.previous_page_number }}">Previous</a>
        {% endif %}
        <a href="/core/testpage/?page={{ current_page.next_page_number }}">{{ current_page.number }}</a>
        <a href="/core/testpage/?page={{ current_page.next_page_number }}">{{ current_page.next_page_number }}</a>
        <a href="/core/testpage/?page={{ current_page.next_page_number|add:"1" }}">{{ current_page.next_page_number|add:"1" }}</a>
        <a href="/core/testpage/?page={{ current_page.next_page_number|add:"2" }}">{{ current_page.next_page_number|add:"2" }}</a>
        <a href="/core/testpage/?page={{ current_page.next_page_number|add:"3" }}">{{ current_page.next_page_number|add:"3" }}</a>
        {% if current_page.has_next %}
            <a href="/core/testpage/?page={{ current_page.next_page_number }}">Next</a>
        {% endif %}
    </div>

{% endblock content %}