{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Lookup Location</title>{% endblock %}

{% block scripts %} 
<link rel="shortcut icon" type="image/png" href="{% static 'core\kpkhomescrico.png' %}">
<link rel="apple-touch-icon" href="{% static 'core\kpkhomescrico.png' %}">
{% endblock scripts %}


<!-- Body Blocks -->
{% block content %}
    <div>
      <form action="/core/updatelotnumrecord/5065" method=POST>
        {% csrf_token %}
        <table id="lotnumformtable">
          {{ testform }}
        </table>
    </div>
    <button type="submit" name="editLotNumRecord" method=POST value="Save Changes"  class="btn btn-primary">Save Changes</button>
{% endblock content %}

<!-- End Body -->
{% block belowdeckscripts %}

{% endblock %}
