{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<br>
<br>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h4>Add New Tote Classification</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.item_code.id_for_label }}">{{ form.item_code.label }}</label>
                        {{ form.item_code|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.tote_classification.id_for_label }}">{{ form.tote_classification.label }}</label>
                        {{ form.tote_classification|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Add Classification</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="centerDiv">
    <div id="toteClassificationTable" class="table-responsive-sm displayTable">
        <table class="table text-left table-bordered">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    <th scope="col" class='text-center'>Item Code</th>
                    <th scope="col" class='text-center'>Tote Classification</th>
                    <th scope="col" class='text-center'></th>
                </tr>
            </thead>
            <tbody>
                {% for item in tote_classifications %}
                    <tr>
                        <td>{{ item.item_code }}</td>
                        <td>{{ item.tote_classification }}</td>
                        <td>
                            <button class="editBtn"><i class="fas fa-pencil-alt"></i></button>
                            <button class="deleteBtn"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
