{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class='text-center'>
        <h1>Upcoming Counts Needed</h1>
        <br/><br/> 
    </div>
    <table class="table text-left table-bordered" id="upcoming-cts-tbl">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Blend</th>
                <th scope="col">Description</th>
                <th scope="col">Start Time</th>
                <th scope="col">Line</th>
                <th scope="col">Exp OH</th>
                <th scope="col">Count</th>
                <th scope="col">Last Count</th>
                <th scope="col">Last Ct Date</th>
                <th scope="col">Last Txn</th>
                <th scope="col">Delete Row</th>
            </tr>
        </thead>
        {% for item in upcoming_counts %}
            
            <tr>
                <td>{{ item.blend_pn }}</td>
                <td>{{ item.blend_desc }}</td>
                <td>{{ item.starttime|floatformat:2 }}</td>
                <td>{{ item.prodline }}</td>
                <td>{{ item.expected_on_hand|floatformat:1 }}</td>
                <td></td>
                {% if item.lastCtDate < item.last_transaction_date%}
                <td style="background-color:#cc933e">{{ item.last_count }}</td>
                <td style="background-color:#cc933e">{{ item.last_count_date|date:"m-d-y" }}</td>
                <td style="background-color:#cc933e">{{ item.last_transaction_type }}, {{ item.last_transaction_date|date:"m-d-y" }} </td>
                {% else %}
                <td>{{ item.last_count }}</td>
                <td>{{ item.last_count_date|date:"m-d-y" }}</td>
                <td>{{ item.last_transaction_type }}, {{ item.last_transaction_date|date:"m-d-y" }} </td>
                {% endif %}    
                <td align="center">
                    <button class="btnDelete">delet</button>
                </td>
            </tr>
        {% endfor %}
    </table>

<script>
    $("#upcoming-cts-tbl").on('click', '.btnDelete', function () {
        $(this).closest('tr').remove();
    });
</script>
{% endblock content %}