td {
    vertical-align: middle;
    white-space: nowrap;
}

.blendinfo.dropdown-toggle::after {
    display: none;
    color: #ffa500
}

.msrRow {
    background-color: rgb(255, 128, 192);
}

.shortCell {
    text-align: right;
}