input[name*='part_number'] {
    width: auto;
    height: 24px;
    background-color: transparent;
    border: none;
}

input[name*='part_description'] {
    width: 240px;
    height: 24px;
    background-color: transparent;
    border: none;
}

input[name*='expected_quantity'] {
    width: 48px;
    height: 24px;
    background-color: transparent;
    border: none;
}

input[name*='counted_date'] {
    width: 90px;
    height: 24px;
    background-color: transparent;
    border: none;  
}

input[name*='variance'] {
    width: 48px;
    height: 24px;
    background-color: transparent;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
}

input[name*='counted_quantity'] {
    width: 64px;
    height: 24px;
}