.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

table>*>*>*>label {
    display: block;
    text-align: right;
    margin-right: 10px;
}

input[name="description"] {
    width: 100%;
    box-sizing: border-box;
}

input[name="submit"] {
    width: 100%;
    margin-left: 50%;
}

input {
    margin-bottom: 5px;
    margin-top: 5px;
}