{% extends 'base.html' %}
{% load static %}
{% block scripts %} <link rel="stylesheet" type="text/css" href="{% static 'core/css/countlist.css' %}">{% endblock%}
{% block title %}<title>Counts Needed</title>{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>Enter Counts Below</h1>
        <br/><br/>
        <p><em>Printed {{ todays_date|date:"m/d/y" }}</em></p>
    </div>
    {% if submitted %}
        <a href='/core/countrecords/?page=1'></a>
    {% else %}
        <div>
            <form action="" method=POST>
                {% csrf_token %}
                <div class="table-responsive-sm">
                    <table class="table text-left table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Blend</th>
                                <th scope="col">Description</th>
                                <th scope="col">Exp. Qty</th>
                                <th scope="col">Counted Qty</th>
                                <th scope="col" class="noPrint">Count Date</th>
                                <th scope="col" class="noPrint">Variance</th>
                                <th scope="col" class="noPrint"></th>
                            </tr>
                        </thead>
                {{ these_counts_formset.management_form }}
                {% for form in these_counts_formset %}
                    <tr>
                        {% for field in form %}
                            {% if field.name == "variance" %}
                                <td data-countrecord-id={{ form.id.value }} class="tbl-cell-{{ field.name }} text-right">{{ field }}{{ field.errors }}</td>
                            {% else %}
                                <td data-countrecord-id={{ form.id.value }} class="tbl-cell-{{ field.name }}">{{ field }}{{ field.errors }}</td>
                            {% endif %}
                        {% endfor %}
                        <td class="discardButtonCell text-center noPrint">
                            <a class="discardButton noPrint" href="/core/deletecountrecord/countrecords/{{ encoded_list }}/{{ encoded_list }}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </div>
        <div class="text-center buttonContainer noPrint">
            <button type="submit" name="submit" class="btn btn-secondary" id="saveCountsButton">Save Counts</button>
            <a class="discardButton" href="/core/deletecountrecord/countrecords/{{ encoded_list }}/{{ encoded_list }}">
                Delete All
            </a>
        </div>
        </br>
        <div id="encodedListDiv" encoded-list="{{ encoded_list }}"></div>
    {% endif %}
        <div id="addBlendButtonContainer" class="buttonContainer">
            <button id="modalToggle" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCountListItemModal">
                Add A Blend
            </button>
        </div>

    {% include 'core/modals/add-countlistitem-modal.html' %}

{% endblock content %}


{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/pageModules/countList.js' %}"></script>
    
{% endblock %}