{% extends 'base.html' %}
{% load static %}
{% comment %} {% block scripts %} <link rel="stylesheet" type="text/css" href="{% static 'core/css/countcollectionlinks.css' %}">{% endblock%} {% endcomment %}
{% block title %}<title>Count Lists</title>{% endblock %}


{% block content %}
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    {% comment %} {% if user.is_staff %}<th scope="col"></th>{% endif %} {% endcomment %}
                    <th scope="col">Collection ID</th>
                    <th scope="col">Link</th>
                    {% if user.is_staff %}<th scope="col"></th>{% endif %}
                </tr>
            </thead>
    {% for item in count_collection_links %}
        <tr>
            {% comment %} {% if user.is_staff %}<td class='text-center'>
                <input type="checkbox" name={{ item.id }} class="checkbox"></input>
            </td>{% endif %} {% endcomment %}
            <td>{{ item.collection_id }}</td>
            <td><a href="{{ item.collection_link }}">Enter Counts >></a></td>
            {% if user.is_staff %}
            <td class="text-center">
                <a href="/core/delete-count-collection-links?list=[{{ item.id }}]" type="button" class="btn btn-outline-danger deleteBtn">
                    <i class="fa fa-trash" disabled="disabled"></i>
                </a>
            </td>
            {% endif %}
        </tr>

{% endblock content %}


{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/pageModules/countcollectionlinks.js' %}"></script>
{% endblock %}