{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Selected Counts</title>{% endblock %}


{% block content %}

<div class='text-center'>
    <h1>Selected Counts</h1>
    <br>
    <a id="emailLink" href=""><button class="btn btn-secondary">&#128231; Email</button></a>
    <br><br>
</div>
    <div class="table-responsive-sm" id="countsTableContainer">
        <table class="table text-left table-bordered" id="countsTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Item Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Expected Qty</th>
                    <th scope="col">Counted Qty</th>
                    <th scope="col">Date Counted</th>
                    <th scope="col">Variance</th>
                    <th scope="col">Counted By</th>
                    <th scope="col">CID</th>
                </tr>
            </thead>
            {% for item in count_records_queryset %}
                <tr>
                    <td>{{ item.item_code }}</td>
                    <td>{{ item.item_description }}</td>
                    <td style="text-align:right;">{{ item.expected_quantity|floatformat:4 }}</td>
                    <td style="text-align:right;">{{ item.counted_quantity|floatformat:4 }}</td>
                    <td>{{ item.counted_date|date:"M d, Y" }}</td>
                    <td {% if item.variance < 0 %}style="text-align:right; color:red; font-weight:bold;"{% else %}style="text-align:right;"{% endif %}>{{ item.variance|floatformat:4 }}</td>
                    <td>{{ item.counted_by }}</td>
                    <td>{{ item.collection_id }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class='text-center'>
        <a href='/core/count-records?recordType=blend'>Return to full blend count history</a> 
    </div>

{% endblock content %}

{% block belowdeckscripts %}
    <script src="{% static 'core/js/pageModules/finishedCounts.js' %}"></script>
{% endblock %}