{% extends 'base.html' %}
{% load static %}
{% block scripts %} <link rel="stylesheet" type="text/css" href="{% static 'core/css/countcollectionlinks.css' %}">{% endblock%}
{% block title %}<title>Count Lists</title>{% endblock %}


{% block content %}
    {% if count_collection_exists %}
        <div class="table-responsive-sm">
            <table class="table text-left table-bordered table-hover" id="countCollectionLinkTable">
                <thead class="thead-dark">
                    <tr>
                        {% comment %} {% if user.is_staff %}<th scope="col"></th>{% endif %} {% endcomment %}
                        <th scope="col">Collection</th>
                        {% if user.is_staff %}
                            <th scope="col">Link</th>
                            <th scope="col"></th>
                        {% endif %}
                    </tr>
                </thead>
        {% for item in count_collection_links %}
            <tr class="tableBodyRow">
                <td style="display:none;">{{ item.link_order }}</td>
                <td data-collection-id="{{ item.collection_id }}">
                    {% if user.is_staff %}
                        <input id="input{{ item.id }}" collectionlinkitemid="{{ item.id }}" class="collectionIdInput" value={{ item.collection_id }}></input>
                        <button collectionlinkitemid="{{ item.id }}" class="collectionIdButton" style="display:none;">Save Name Change</button>
                    {% else %}
                        <a href="{{ item.collection_link }}">{{ item.collection_id }}  >></a>
                    {% endif %}
                </td>
                {% if user.is_staff %}
                    <td><a href="{{ item.collection_link }}">Enter Counts >></a></td>
                    <td class="text-center">
                        <a href="/core/delete-count-collection-links?list=[{{ item.id }}]" type="button" class="btn btn-outline-danger deleteBtn">
                            <i class="fa fa-trash" disabled="disabled"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

    {% else %}
        <h2>No counts needed now.</h2>
    {% endif %}

{% endblock content %}


{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/pageModules/countcollectionlinks.js' %}"></script>
{% endblock %}