{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Count History</title>{% endblock %}
{% block scripts %}<link rel="stylesheet" type="text/css" href ="{% static 'core/css/countrecords.css' %}">{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>Full Count History</h1>
        <br><br>
        <a href="/core/display-count-collection-links/">Return to Count Links</a>
        <br>
        {% if user.is_staff %}
            <button id="recountsButton" class="btn btn-outline-secondary">Check All Recounts</button>
            <br><br>
            <button id="createReportButton" class="btn btn-secondary" style="display:none;">Count Report</button>
            <button id="batchEditButton" class="btn btn-primary" style="display:none;" data-bs-toggle="modal" data-bs-target="#editCountRecordsModal">
                Edit Counts
            </button>
            <button id="batchDeleteButton" class="btn btn-outline-danger" style="display:none;" data-bs-toggle="modal" data-bs-target="#deleteCountRecordsModal">
                Delete Counts
            </button>
            <button id="create_list">
                Create New Count List
            </button>
        {% endif %}
        <br><br>
    </div>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    {% if user.is_staff %}<th scope="col"></th>{% endif %}
                    <th scope="col">Item Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Exp. Qty</th>
                    <th scope="col">Count Qty</th>
                    <th scope="col">Date Counted</th>
                    <th scope="col">Valid?</th>
                    <th scope="col">Variance</th>
                    <th scope="col">Count Type</th>
                    <th scope="col">Counted By</th>
                    <th scope="col">CID</th>
                    {% if user.is_staff %}<th scope="col"></th>{% endif %}
                </tr>
            </thead>
            
            {% for item in current_page.object_list %}
                <tr {% if not item.counted %}class="notCounted"{% endif %}>
                    {% if user.is_staff %}<td class='text-center'>
                        <input type="checkbox" itemcode={{ item.item_code }} name={{ item.id }} class="reportCheckBox checkbox"></input>
                    </td>{% endif %}
                    <td>{{ item.item_code }}</td>
                    <td>{{ item.item_description }}</td>
                    <td>{{ item.expected_quantity|floatformat:0 }}</td>
                    <td>{{ item.counted_quantity|floatformat:0 }}</td>
                    <td>{{ item.counted_date|date:"M d, Y" }}</td>
                    <td>{% if item.counted %}Yes{% else %}No{% endif %}</td>
                    <td>{{ item.variance|floatformat:0 }}</td>
                    <td>{{ item.count_type }}</td>
                    <td>{{ item.counted_by }}</td>
                    <td>{{ item.collection_id }}</td>
                    {% if user.is_staff %}
                        <td class="text-center">
                            <button dataItemID="{{ item.id }}" type="button" class="btn btn-secondary editBtn" data-bs-toggle="modal" data-bs-target="#editCountRecordsModal">
                                Edit
                            </button>
                            <button dataItemID="{{ item.id }}" type="button" class="btn btn-outline-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#deleteCountRecordsModal">
                                Delete
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="page-links" class='text-center'>
        {% if current_page.has_previous %}
            <a href="/core/count-records?recordType=blend&page={{ current_page.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if current_page.has_next %}
            <a href="/core/count-records?recordType=blend&page={{ current_page.next_page_number }}">Next Page</a>
        {% endif %}
        <div>
            Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}
        </div>
    </div>

    {% include 'core/modals/delete-countrecord-modal.html' %}
    {% include 'core/modals/edit-confirm-countrecord-modal.html' %}

{% endblock content %}

{% block belowdeckscripts %}
    <script type="module" src="{% static 'core/js/pageModules/countRecords.js' %}"></script>
{% endblock %}