{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/itemLocations.css' %}">
    <script type="module" src="{% static 'core/js/pageModules/itemLocations.js' %}"></script>
{% endblock scripts %}
{% block title %}<title>Item Locations</title>{% endblock %}

{% block content %}
    {% include 'core/modals/edit-item-location-modal.html' %}

    <h1>All Item Locations</h1>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <button id="addMissingItemLocationsBtn" class="btn btn-primary">
                    <i class="fas fa-plus-circle"></i> Add Missing Item Locations
                </button>
            </div>
        </div>
        <div class="col-md-6 text-end">
            <div class="form-group">
                <select id="itemTypeFilter" class="form-select">
                    <option value="">All Item Types</option>
                    <option value="blend">Blends</option>
                    <option value="blendcomponent">BlendComponents</option>
                    <option value="warehouse">Warehouse</option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <tr id="itemCodeRow">
        <td>
            <label for="id_item_code">Filter:</label>
        </td>
        <td>
            <input type="text" name="filter_criteria" maxlength="100" required="" id="id_filter_criteria" class="ui-autocomplete-input" autocomplete="off">
        </td>
    </tr>
        <div class="table-responsive-sm">
            <table class="table text-left table-bordered" id="displayTable">
                <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                    <tr>
                        <th scope="col">Item Code</th>
                        <th scope="col">Description</th>
                        <th scope="col">Area</th>
                        <th scope="col">Location</th>
                        <th scope="col">Qty On Hand</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for item in item_locations %}
                    <tr class="filterableRow">
                        <td>{{ item.item_code }}</td>
                        <td>{{ item.item_description }}</td>
                        <td>{{ item.zone }}</td>
                        <td>{{ item.bin }}</td>
                        <td>{{ item.qtyonhand|floatformat:2 }} {{ item.standard_uom }}</td>
                        <td>
                            <button data-item-location-id="{{ item.id }}" type="button" class="btn btn-outline-primary editLocationButton" data-bs-toggle="modal" data-bs-target="#editItemLocationModal">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}