{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Select Counts</title>{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href ="{% static 'core/css/itemsByAuditGroup.css' %}">
    <script type="module" src="{% static './core/js/pageModules/itemsByAuditGroup.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class='text-center'>
        <h1>Select Items to Count</h1>
        <br>
        {% if record_type == 'blendcomponent' %}
            <label>
                <input id="upcomingRunsFilterCheckbox" type="checkbox" checked>
                Show Components in Upcoming Runs
            </label>
            <br>
        {% endif %}

        <a href="/core/count-records?recordType=warehouse">View all warehouse count records</a>
        <br>
        <button id="create_list">Create Count List</button>
        <br>
    </div>
    <tr>
        <td>
            <label for="id_filter_criteria">Filter:</label>
        </td>
        <td>
            <input type="text" name="filter_criteria" maxlength="100" required="" id="id_filter_criteria" class="ui-autocomplete-input" autocomplete="off">
        </td>
        <td>
            <label for="auditGroupLinks">Select Audit Group to Filter By:</label>
        </td>
        <td class="text-right">
            <select name="auditGroupLinks" id="auditGroupLinks">
                <option class='tableFilterOption' value="">All</option>
                {% for audit_group in audit_group_list %}
                    <option class='tableFilterOption' value="{{ audit_group }}">{{ audit_group }}</option>
                {% endfor %}
              </select>
        </td>
    </tr>
    <div id="selection_table" class="table-responsive-sm">
        <br>
        <table id="displayTable" class="table text-left table-bordered table-hover">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    {% if user.is_staff %}<th scope="col" class='text-center'>Add to Count List{% endif %}
                    <th scope="col" class='text-center'>Item</th>
                    <th scope="col" class='text-center'>Description</th>
                    <th scope="col" class='text-center'>On Hand</th>
                    <th scope="col" class='text-center'>Next Run</th>
                    <th scope="col" class='text-center'>Latest Txn</th>
                    <th scope="col" class='text-center'>Code</th>
                    <th scope="col" class='text-center'>Last Count</th>
                    <th scope="col" class='text-center'>Audit Group</th>
                    <th scope="col" class='text-center'>Count Unit</th>
                    <th scope="col" class='text-center'></th>
                </tr>
            </thead>
            {% for item in audit_group_queryset %}
                <tr class="filterableRow{% if item.last_count < item.last_transaction_date %} needsCount{% endif %}">
                    {% if user.is_staff %}
                        <td class='text-center'>
                            <input type="checkbox" itemcode={{ item.item_code }} name={{ item.item_code }} class="checkbox"></input>
                        </td>
                    {% endif %}
                    <td>{{ item.item_code }}</td>
                    <td class="text-nowrap">{{ item.item_description }}</td>
                    <td class="text-nowrap">{{ item.qty_on_hand }}</td>
                    <td>{{ item.next_usage|floatformat:2 }}</td>
                    <td class="text-nowrap">{{ item.transaction_info.0|date:"m/d/y" }}</td>
                    <td class="text-nowrap">{{ item.transaction_info.1 }}</td>
                    <td>{{ item.last_count.0|date:"m/d/y" }} </td>
                    <td>{{ item.audit_group }}</td>
                    <td>{{ item.counting_unit }}</td>
                    <td><i class="fa fa-pencil editIcon" data-itemID="{{ item.id }}" data-itemCode="{{ item.item_code }}" 
                        data-auditGroup="{{ item.audit_group }}" data-bs-toggle="modal" 
                        data-bs-target="#editAuditGroupItemModal-{{ item.id }}"></i>
                        <div class="modal fade" id="editAuditGroupItemModal-{{ item.id }}" tabindex="-1" aria-labelledby="editAuditGroupItemModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="editAuditGroupItemModalLabel-{{ item.id }}"><b>Edit Item</b></h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div id="editAuditGroupItemFormContainer-{{ item.id }}" class="editAuditGroupItemFormContainer">
                                        <form id="editItemForm" action="" method=POST>
                                            {% csrf_token %}
                                            <table id="auditGroupItemFormtable-{{ item.id }}">
                                                {{ item.form }}
                                            </table>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" name="editItemRecord" action="" value="Save Changes" class="btn btn-primary">Save Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>                
            {% endfor %}
        </table>
    </div>
    
    <dialog id="changeAuditGroupDialog">
        <h2 id="itemCodeHeader"></h2>
        <p><em>Select from list or enter a new group name to change this item's group.</em></p>
        <form>
            <select class="auditGroupDropdown">
                <option class='auditGroupChoice' value=""> -- Select An Audit Group -- </option>
                {% for audit_group in audit_group_list %}
                    <option class='auditGroupChoice' value="{{ audit_group }}">{{ audit_group }}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="text" id="customAuditGroupInput" placeholder="or, enter custom audit group">
            <button type="button" id="confirmChangeAuditGroup" data-itemid="" data-auditgroup="">Confirm</button>
            <button type="button" id="cancelChangeAuditGroup">Cancel</button>
        </form>
    </dialog>
    
    
    
{% endblock content %}