{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Select Counts</title>{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href ="{% static 'core/itemsToCount.css' %}">
    <script type="module" src="{% static './core/js/pageModules/itemsToCount.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class='text-center'>
        <h1>Select Items to Count</h1>
        <br>
        <a href="/core/count-records?recordType=warehouse">View all warehouse count records</a>
        <br>
        <button id="create_list">Create Count List</button>
        <br>
    </div>
    <tr>
        <td>
            <label for="id_filter_criteria">Filter:</label>
        </td>
        <td>
            <input type="text" name="filter_criteria" maxlength="100" required="" id="id_filter_criteria" class="ui-autocomplete-input" autocomplete="off">
        </td>
        <td>
            <label for="auditGroupLinks">Select Audit Group to Filter By:</label>
        </td>
        <td class="text-right">
            <select name="auditGroupLinks" id="auditGroupLinks">
                <option class='tableFilterOption' value="">All</option>
                {% for audit_group in audit_group_list %}
                    <option class='tableFilterOption' value="{{ audit_group }}">{{ audit_group }}</option>
                {% endfor %}
              </select>
        </td>
    </tr>
    <div id="selection_table" class="table-responsive-sm">
        <br>
        <table id="displayTable" class="table text-left table-bordered table-hover">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    {% if user.is_staff %}<th scope="col" class='text-center'>Add to Count List{% endif %}
                    <th scope="col" class='text-center'>Item</th>
                    <th scope="col" class='text-center'>Description</th>
                    <th scope="col" class='text-center'>On Hand</th>
                    <th scope="col" class='text-center'>Next Run</th>
                    <th scope="col" class='text-center'>Latest Txn</th>
                    <th scope="col" class='text-center'>Last Count</th>
                    <th scope="col" class='text-center'>Audit Group</th>
                    <th scope="col" class='text-center'></th>
                </tr>
            </thead>
            {% for item in audit_group_queryset %}
                <tr class="filterableRow{% if item.last_count < item.last_transaction_date %} needsCount{% endif %}">
                    {% if user.is_staff %}
                        <td class='text-center'>
                            <input type="checkbox" itemcode={{ item.item_code }} name={{ item.item_code }} class="checkbox"></input>
                        </td>
                    {% endif %}
                    <td>{{ item.item_code }}</td>
                    <td class="text-nowrap">{{ item.item_description }}</td>
                    <td class="text-nowrap">{{ item.qty_on_hand }}</td>
                    <td>{{ item.next_usage|floatformat:2 }}</td>
                    <td class="text-nowrap">{{ item.transaction_info.1 }} - {{ item.transaction_info.0 }}</td>                    
                    <td>{{ item.last_count.1|floatformat:0 }} - {{ item.last_count.0 }} </td>
                    <td>{{ item.audit_group }}</td>
                    <td><i class="fa fa-pencil editIcon" data-itemID="{{ item.id }}" data-itemCode="{{ item.item_code }}" data-auditGroup="{{ item.audit_group }}"></i></td>
                </tr>                
            {% endfor %}
        </table>
    </div>
    
    <dialog id="changeAuditGroupDialog">
        <h2 id="itemCodeHeader"></h2>
        <p><em>Select from list or enter a new group name to change this item's group.</em></p>
        <form>
            <select class="auditGroupDropdown">
                <option class='auditGroupChoice' value=""> -- Select An Audit Group -- </option>
                {% for audit_group in audit_group_list %}
                    <option class='auditGroupChoice' value="{{ audit_group }}">{{ audit_group }}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="text" id="customAuditGroupInput" placeholder="or, enter custom audit group">
            <button type="button" id="confirmChangeAuditGroup" data-itemid="" data-auditgroup="">Confirm</button>
            <button type="button" id="cancelChangeAuditGroup">Cancel</button>
        </form>
    </dialog>
    
    
    
{% endblock content %}