{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Select Counts</title>{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href ="{% static 'core/css/itemsByAuditGroup.css' %}">
    {% include 'core/partials/datatableprerequisites.html' %}
    {{ audit_group_list|json_script:"audit-group-choices" }}
    <script>
        window.AUDIT_GROUP_CHOICES = JSON.parse(document.getElementById('audit-group-choices').textContent);
    </script>
    <script type="module" src="{% static './core/js/pageModules/itemsByAuditGroup.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class='text-center'>
        <form style="display:none;" aria-hidden="true">
            {% csrf_token %}
        </form>
        <h1>Select Items to Count</h1>
        <br>
        {% if record_type == 'blendcomponent' %}
            <label>
                <input id="upcomingRunsFilterCheckbox" type="checkbox" checked>
                Show Components in Upcoming Runs
            </label>
            <br>
        {% endif %}

        <a href="/core/count-records?recordType=warehouse">View all warehouse count records</a>
        <br>
        <button id="create_list">Create Count List</button>
        <br>
    </div>
    <form id="auditGroupFilterForm" method="get" class="row gy-2 gx-3 align-items-end mb-3">
        <input type="hidden" name="recordType" value="{{ record_type }}">
        <div class="col-md-6">
            <label class="form-label" for="auditGroupLinks">Select Audit Group to Filter By:</label>
            <select name="auditGroupLinks" id="auditGroupLinks" class="form-select">
                <option class='tableFilterOption' value="">All</option>
                {% for audit_group in audit_group_list %}
                    <option class='tableFilterOption' value="{{ audit_group }}" {% if audit_group == selected_audit_group %}selected{% endif %}>{{ audit_group }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <div id="selection_table" class="table-responsive-sm">
        <br>
        <table id="displayTable" class="table text-left table-bordered table-hover">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    {% if user.is_staff %}<th scope="col" class='text-center'>Add to Count List{% endif %}
                    <th scope="col" class='text-center'>Item</th>
                    <th scope="col" class='text-center'>Description</th>
                    <th scope="col" class='text-center'>On Hand</th>
                    <th scope="col" class='text-center'>Next Run</th>
                    <th scope="col" class='text-center'>Latest Txn</th>
                    <th scope="col" class='text-center'>Code</th>
                    <th scope="col" class='text-center'>Last Count</th>
                    <th scope="col" class='text-center'>Audit Group</th>
                </tr>
            </thead>
            {% for item in audit_group_queryset %}
                <tr class="filterableRow{% if item.last_count < item.last_transaction_date %} needsCount{% endif %}"
                    data-id="{{ item.id|default:'' }}"
                    data-item-code="{{ item.item_code }}"
                    data-item-description="{{ item.item_description }}"
                    data-item-type="{{ item.item_type }}">
                    {% if user.is_staff %}
                        <td class='text-center'>
                            <input type="checkbox" itemcode={{ item.item_code }} name={{ item.item_code }} class="checkbox"></input>
                        </td>
                    {% endif %}
                    <td>{{ item.item_code }}</td>
                    <td class="text-nowrap">{{ item.item_description }}</td>
                    <td class="text-nowrap">{{ item.qty_on_hand }}</td>
                    <td>{{ item.next_usage|floatformat:2 }}</td>
                    <td class="text-nowrap">{{ item.transaction_info.0|date:"m/d/y" }}</td>
                    <td class="text-nowrap">{{ item.transaction_info.1 }}</td>
                    <td>{{ item.last_count.0|date:"m/d/y" }} </td>
                    <td data-field="audit_group">
                        <span class="audit-group-value">{{ item.audit_group }}</span>
                        {% if user.is_staff %}
                            <button type="button" class="btn btn-link editRowButton p-0 ms-1">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>                
            {% endfor %}
        </table>
    </div>
    {% if not audit_group_queryset %}
        <p class="mt-3">No items found for the selected filters.</p>
    {% endif %}

{% endblock content %}
