<tr data-countrecord-id="1910" class="countRow">
                            <td data-countrecord-id="1910" class="tbl-cell-item_code text-right">
                                <div class="dropdown">
                                    <a class="dropdown-toggle itemCodeDropdownLink" type="button" data-bs-toggle="dropdown" readonly="readonly">030008CN</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item partialContainerLabelLink" data-itemcode="030008CN">Partial Container Label</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td data-countrecord-id="1910" class="tbl-cell-item_description">CHEM - COLADET DEF15</td>
                            <td data-countrecord-id="1910" class="tbl-cell-expected_quantity">
                                <span data-countrecord-id="1910" class="expected-quantity-span">18742.0000</span> <em>LB</em>
                                <span></span> <i class="fa fa-refresh qtyrefreshbutton" itemcode="030008CN" data-countrecord-id="1910" aria-hidden="true"></i>
                            </td>
                            <td data-countrecord-id="1910" class="tbl-cell-containers">
                                <button class="containers" data-countrecord-id="1910" data-bs-toggle="modal" data-bs-target="#containersModal1910">Enter &gt;</button>
                                <div class="modal fade" id="containersModal1910" tabindex="-1" aria-labelledby="containersModalLabel1910" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button hidden="true" class="btn btn-secondary multi-container-print-button" data-countrecord-id="1910">
                                                <i class="fa fa-print" aria-hidden="true"></i>
                                            </button>
                                            <h5 class="modal-title" id="containersModalLabel1910">Containers for 030008CN: <p class="containerQuantity"></p></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="container-table" data-countrecord-id="1910">
                                                <thead class="containerHeader">
                                                    <tr>
                                                        <th style="display:none;">container_id</th>
                                                        <th>Quantity</th>
                                                        <th>Container Type</th>
                                                        <th class="tareWeight ">Tare Weight</th>
                                                        <th class="netMeasurement ">NET</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="containerTbody"><tr data-container-id="0" data-countrecord-id="1910" class="containerRow">
            <td class="container_id" style="display:none;">
                <input type="number" class="form-control container_id" data-countrecord-id="1910" value="0" data-container-id="0">
            </td>
            <td class="quantity"><input type="number" class="form-control container_quantity" data-countrecord-id="1910" value="" data-container-id="0"></td>
            <td class="container_type">
                <select class="form-control container_type form-select" data-countrecord-id="1910" data-container-id="0">
                    <option value="275gal tote" selected="" data-countrecord-id="1910">275gal Tote</option>
                    <option value="poly drum" data-countrecord-id="1910">Poly Drum</option>
                    <option value="regular metal drum" data-countrecord-id="1910">Regular Metal Drum</option>
                    <option value="large poly tote" data-countrecord-id="1910">Large Poly Tote</option>
                    <option value="stainless steel tote" data-countrecord-id="1910">Stainless Steel Tote</option>
                    <option value="300gal tote" data-countrecord-id="1910">300gal Tote</option>
                    <option value="small poly drum" data-countrecord-id="1910">Small Poly Drum</option>
                    <option value="enzyme metal drum" data-countrecord-id="1910">Enzyme Metal Drum</option>
                    <option value="plastic pail" data-countrecord-id="1910">Plastic Pail</option>
                    <option value="metal dye_frag pail" data-countrecord-id="1910">Metal Dye/Frag Pail</option>
                    <option value="cardboard box" data-countrecord-id="1910">Cardboard Box</option>
                    <option value="gallon jug" data-countrecord-id="1910">Gallon Jug</option>
                    <option value="storage tank" data-countrecord-id="1910">Storage Tank</option>
                </select>
            </td>
            <td class="tareWeight  tare_weight">
                <input type="number" class="form-control tare_weight" data-countrecord-id="1910" value="125" data-container-id="0">
            </td>
            <td class="netMeasurement  net_measurement">
                <input type="checkbox" class="container_net_measurement" data-countrecord-id="1910" data-container-id="0">
            </td>
            <td><i class="fa fa-trash row-clear" data-countrecord-id="1910" data-container-id="0" aria-hidden="true"></i></td>
        </tr></tbody>
                                            </table>
                                            <div style="padding-top: 10px;"><button type="button" data-countrecord-id="1910" class="btn btn-lg btn-primary add-container-row"> + </button></div>
                                            <div class="container-monitor" data-countrecord-id="1910" style="display:none;" data-container-id-updated=""></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>
                            <td data-countrecord-id="1910" class="tbl-cell-counted_quantity"><input class="counted_quantity" readonly="true" data-bs-toggle="modal" data-bs-target="#containersModal1910" type="number" data-countrecord-id="1910" value="0" step="0.00001"></td>
                            <td data-countrecord-id="1910" class="tbl-cell-counted_date noPrint" readonly="True">2025-03-17</td>
                            <td data-countrecord-id="1910" class="tbl-cell-variance text-right noPrint">0</td>
                            <td data-countrecord-id="1910" class="tbl-cell-counted text-center noPrint uncheckedcountedcell"><input data-countrecord-id="1910" class="counted-input" type="checkbox"></td>
                            <td data-countrecord-id="1910" class="tbl-cell-count_type text-right noPrint" style="display:none;">blendcomponent</td>
                            <td data-countrecord-id="1910" class="tbl-cell-collection_id text-right" style="display:none;">B1-20250317</td>
                            <td data-countrecord-id="1910" class="tbl-cell-comment"><textarea class="comment" data-countrecord-id="1910" cols="10" rows="1">None</textarea></td>
                            <td data-countrecord-id="1910" class="tbl-cell-zone" value="">
                                <select data-countrecord-id="1910" class="location-selector">
                                    
                                        <option value="BlendingRack" selected="">BlendingRack</option>
                                    
                                        <option value="DI Tank">DI Tank</option>
                                    
                                        <option value="DyeShelves">DyeShelves</option>
                                    
                                        <option value="ExtraRack">ExtraRack</option>
                                    
                                        <option value="Joeys Warehouse">Joeys Warehouse</option>
                                    
                                        <option value="LabRack">LabRack</option>
                                    
                                        <option value="MainMaterials">MainMaterials</option>
                                    
                                        <option value="MaterialsRack">MaterialsRack</option>
                                    
                                        <option value="NoLocation">NoLocation</option>
                                    
                                        <option value="OldDC">OldDC</option>
                                    
                                        <option value="Overflow">Overflow</option>
                                    
                                        <option value="ScaleAndOverflow">ScaleAndOverflow</option>
                                    
                                        <option value="Shed2">Shed2</option>
                                    
                                        <option value="Shed3">Shed3</option>
                                    
                                        <option value="TankFarm">TankFarm</option>
                                    
                                        <option value="UnderMixTank">UnderMixTank</option>
                                    
                                        <option value="Warehouse">Warehouse</option>
                                    
                                </select>
                            </td>
                            
                                <td class="discardButtonCell text-center noPrint">
                                    <i class="fa fa-trash discardButton" data-countrecord-id="1910" data-countlist-id="2151" disabled="disabled" aria-hidden="true"></i>
                                </td>
                            
                        </tr>