{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Upcoming Blends</title>{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href ="{% static 'core/upcomingBlends.css' %}">
{% endblock %}

{% block content %}
    <div class='text-center'>
        <h1>Select Blends to Count</h1>
        <h5><em>Blends shown in order of appearance on production schedule</em></h5>
        <br/>
        <a href="/core/countrecords/">View all count records</a>
        <br/>
        <button id="create_list">Create Count List</button>
        <br/>

    </div>
    <div id="selection_table" class="table-responsive-sm">
        <br/>
        <table class="table text-left table-bordered">
            <thead class="thead-dark" style="position: sticky; top: 55px; z-index: 2 !important;">
                <tr>
                    <th scope="col" class='text-center'>Add to Count List</th>
                    <th scope="col" class='text-center'>Blend</th>
                    <th scope="col" class='text-center'>Description</th>
                    <th scope="col" class='text-center'>Start Time</th>
                    <th scope="col" class='text-center'>Exp. Qty</th>
                    <th scope="col" class='text-center'>Last Count</th>
                    <th scope="col" class='text-center'>Last Transaction</th>
                    <th scope="col" class='text-center'>Shortage</th>
                </tr>
            </thead>
            {% for item in upcoming_blends %}
                    <tr {% if item.needs_count %} style="background-color:rgb(250, 189, 109)" {% endif %}>
                        <td class='text-center'>
                            <input type="checkbox" name={{ item.item_code }}></input>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle blendinfo" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="/core/reports/Lot-Numbers/{{ item.item_code }}">
                                        Lot Numbers
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/reports/Transaction-History/{{ item.item_code }}">
                                        Transaction History
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/reports/All-Upcoming-Runs/{{ item.item_code }}">
                                        Upcoming Runs
                                    </a></li>
                                    <li><a class="dropdown-item" href="/core/reports/Count-History/{{ item.item_code }}">
                                        Count History
                                    </a></li>
                                </ul>
                                {{ item.item_code }}
                            </div>
                        </td>
                        <td>{{ item.item_description }}</td>
                        <td>{{ item.starttime|floatformat:2 }}</td>
                        <td>{{ item.expected_on_hand|floatformat:2 }}</td>
                        <td>{{ item.last_count_quantity|floatformat:0 }}: {{ item.last_count_date|date:"m-d-y" }}</td>
                        <td>{{ item.last_transaction_code }}: {{ item.last_transaction_date|date:"m-d-y" }}</td>
                        <td>
                            {% if item.short_hour == 0 %}
                                No
                            {% else %}
                                {{ item.short_hour|floatformat:2 }}
                            {% endif %}
                        </td>
                    </tr>                
            {% endfor %}
        </table>
    </div>
    <script>
        // https://stackoverflow.com/questions/1287592/get-checkbox-list-values-with-jquery
        $(document).ready(function() {
            $('#create_list').click(function() {
                let itemCodes = [];
                $('td input:checked').each(function() {
                    itemCodes.push($(this).attr("name"));
                });
                // https://stackoverflow.com/questions/4505871/good-way-to-serialize-a-list-javascript-ajax
                let encodedItemCodes = btoa(JSON.stringify(itemCodes));
                let dummyList = ["No_Item_Codes"];
                let encodedDummyList = btoa(JSON.stringify(dummyList));
                // https://stackoverflow.com/questions/503093/how-do-i-redirect-to-another-webpage
                baseURL = window.location.href.split('core')[0];
                window.location.replace(baseURL + "core/countlist/add/"+encodedItemCodes+'/'+encodedDummyList)
            });
        });
    </script>
{% endblock content %}