{% extends 'base.html' %}

{% block content %}
<div>
    <br>
    <h2>All Lot Numbers For {{ line }} Runs</h2>
    <h4>Issued by: Parker Medlin</h4>
    <h4>Date: {{ dateToday }}</h4>
    <br>
    <div class="table-responsive-sm">
        <table class="table text-left table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Bill No.</th>
                    <th scope="col">Blend</th>
                    <th scope="col">Description</th>
                    <th scope="col">Run Qty</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">Batches Issued</th>
                    <th scope="col">Total On Hand</th>
                    
                </tr>
            </thead>
            {% for run in lineRunsQS %}
                <tr>
                    <td>{{ run.item_code }}</td>
                    <td>{{ run.component_item_code }}</td>
                    <td>{{ run.blend_desc }}</td>
                    <td>{{ run.adjustedrunqty|floatformat:2 }}</td>
                    <td>{{ run.starttime|floatformat:5 }}</td>
                    <td>{% if run.batchnum1 == "n/a" %} - {% else %} <b>{{ run.batchnum1 }}</b>: {{ run.batchqty1 }} gal<br>{% endif %}
                        {% if run.batchnum2 == "n/a" %}{% else %} <b>{{ run.batchnum2 }}</b>: {{ run.batchqty2 }} gal<br>{% endif %}
                        {% if run.batchnum3 == "n/a" %}{% else %} <b>{{ run.batchnum3 }}</b>: {{ run.batchqty3 }} gal<br>{% endif %}
                        {% if run.batchnum4 == "n/a" %}{% else %} <b>{{ run.batchnum4 }}</b>: {{ run.batchqty4 }} gal<br>{% endif %}
                        {% if run.batchnum5 == "n/a" %}{% else %} <b>{{ run.batchnum5 }}</b>: {{ run.batchqty5 }} gal<br>{% endif %}
                        {% if run.batchnum6 == "n/a" %}{% else %} <b>{{ run.batchnum6 }}</b>: {{ run.batchqty6 }} gal{% endif %}</td>
                    <td>{{ run.qtyonhand|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
</div>
{% endblock content %}