{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title> </title>{% endblock %}

{% block scripts %} 
    <link rel="shortcut icon" type="image/png" href="{% static 'core\kpkhomescrico.png' %}">
    <link rel="apple-touch-icon" href="{% static 'core\kpkhomescrico.png' %}">
{% endblock scripts %}


<!-- Body Blocks -->
{% block content %} 
<style>
    iframe {
    }
</style>
<iframe frameborder="0" allowfullscreen width="1660" height="1080" src="{% static '\prodverse\html\Kinpak, Inc\Production - Web Parts\inlineschedule.html' %}"></iframe>
  {% endblock content %}
<!-- End Body -->
{% block belowdeckscripts %}
    <script src="{% static 'prodverse/js/itemLookup.js' %}"></script>
{% endblock %}
