{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Inline Schedule</title>{% endblock %}

{% block scripts %} 
    <link rel="shortcut icon" type="image/png" href="{% static 'core\kpkhomescrico.png' %}">
    <link rel="apple-touch-icon" href="{% static 'core\kpkhomescrico.png' %}">
{% endblock scripts %}


<!-- Body Blocks -->
{% block content %} 
<style>
    iframe {
    }

    @media (max-width: 1280px) {

        .dropdown-item {
            font-size: 50px;
        }
    }

</style>
<div class="dropdown">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Change Line
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#" id="horixbutton">Horix</a></li>
      <li><a class="dropdown-item" href="#" id="inlinebutton">Inline</a></li>
      <li><a class="dropdown-item" href="#" id="blisterbutton">Blister</a></li>
      <li><a class="dropdown-item" href="#" id="pdbutton">PD Line</a></li>
      <li><a class="dropdown-item" href="#" id="jbbutton">JB Line</a></li>
      <li><a class="dropdown-item" href="#" id="oilbutton">Oil Line</a></li>
      <li><a class="dropdown-item" href="#" id="kitbutton">Kit Lines</a></li>
    </ul>
  </div>
  <div id='scheduleframe' data-include="hodl"></div>
{% comment %} <iframe id='scheduleframe' frameborder="0" allowfullscreen width="1660" height="1080" src="{% static '\prodverse\html\Kinpak, Inc\Production - Web Parts\inlineschedule.html' %}"></iframe> {% endcomment %}
<script>
    {% comment %} // iframe switcher
    $(function() {
        const scheduleFrame = document.getElementById('scheduleframe');
        scheduleFrame.src += '';
      
        const scheduleButtons = ['horixbutton', 'inlinebutton', 'blisterbutton', 'pdbutton', 'jbbutton', 'oilbutton', 'kitbutton'];
        scheduleButtons.forEach(buttonId => {
          $(`#${buttonId}`).click(() => {
            scheduleFrame.data-include = `\\static\\static\\prodverse\\html\\Kinpak, Inc\\Production - Web Parts\\${buttonId.replace('button', 'schedule')}.html`;
          });
        });
      }); {% endcomment %}

      $(function () {
        var includes = $('[data-include]')
        const scheduleButtons = ['horixbutton', 'inlinebutton', 'blisterbutton', 'pdbutton', 'jbbutton', 'oilbutton', 'kitbutton'];
        scheduleButtons.forEach(buttonId => {
          $.each(includes, function () {
            $(`#${buttonId}`).click(() => {  
              var file = `\\static\\static\\prodverse\\html\\Kinpak,%20Inc\\Production%20-%20Web%20Parts\\${buttonId.replace('button', 'schedule')}.html`;
              console.log(file);
              $(this).load(file, function() {
                // Get all the text nodes in the page
                const textNodes = getTextNodes();
                // Iterate through the text nodes and remove non-ASCII characters
                textNodes.forEach(node => {
                  node.nodeValue = node.nodeValue.replace(/[^\x00-\x7F]/g, "");
                });
              });
            });
          });
        });
      });
      
      function getTextNodes() {
        const textNodes = [];
        // Get all the elements in the page
        const elements = $('*');
        // Iterate through the elements and get their text nodes
        elements.each((_, element) => {
          $(element)
            .contents()
            .filter(function() {
              return this.nodeType === 3; // Text node
            })
            .each(function() {
              textNodes.push(this);
            });
        });
        return textNodes;
      };

</script>
{% endblock content %}
<!-- End Body -->
{% block belowdeckscripts %}
{% endblock %}
