{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Inline Schedule</title>{% endblock %}

{% block scripts %} 
    <link rel="shortcut icon" type="image/png" href="{% static 'core\kpkhomescrico.png' %}">
    <link rel="apple-touch-icon" href="{% static 'core\kpkhomescrico.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'prodverse/css/productionSchedule.css' %}">
    <script type="module" src="{% static 'prodverse/js/pageModules/productionSchedule.js'%}"></script>
{% endblock scripts %}


<!-- Body Blocks -->
{% block content %} 
<div class="dropdown">
    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Change Line
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#" id="horixbutton">Horix</a></li>
      <li><a class="dropdown-item" href="#" id="inlinebutton">Inline</a></li>
      <li><a class="dropdown-item" href="#" id="blisterbutton">Blister</a></li>
      <li><a class="dropdown-item" href="#" id="pdbutton">PD Line</a></li>
      <li><a class="dropdown-item" href="#" id="jbbutton">JB Line</a></li>
      <li><a class="dropdown-item" href="#" id="oilbutton">Oil Line</a></li>
      <li><a class="dropdown-item" href="#" id="kitbutton">Kit Lines</a></li>
    </ul>
  </div>
  <div id='scheduleframe' data-include="scheduledata"></div>
{% endblock content %}
<!-- End Body -->
