{% extends 'base.html' %}
{% load static %}

<!-- Header Blocks -->
{% block title %}<title>Production Schedule</title>{% endblock %}

{% block scripts %} 
    <link rel="shortcut icon" type="image/png" href="{% static 'core\kpkhomescrico.png' %}">
    <link rel="apple-touch-icon" href="{% static 'core\kpkhomescrico.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'prodverse/css/productionSchedule.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/hoseColors.css' %}">
    <script type="module" src="{% static 'prodverse/js/pageModules/productionSchedule.js'%}"></script>
{% endblock scripts %}



<!-- Body Blocks -->
{% block content %} 
  {% include 'core/modals/blendlabeltemplate.html' %}
  <dialog id="lotNumbersDisplayModal"></dialog>
  <div id="controlbuttons" style="display:flex; justify-content: space-between;">
    <div class="dropdown">
      <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Change Line
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" id="horixbutton">Horix</a></li>
        <li><a class="dropdown-item" href="#" id="inlinebutton">Inline</a></li>
        <li><a class="dropdown-item" href="#" id="blisterbutton">Blister</a></li>
        <li><a class="dropdown-item" href="#" id="pdbutton">PD Line</a></li>
        <li><a class="dropdown-item" href="#" id="jbbutton">JB Line</a></li>
        <li><a class="dropdown-item" href="#" id="oilbutton">Oil Line</a></li>
        <li><a class="dropdown-item" href="#" id="pouchbutton">Pouch Room 1</a></li>
        <li><a class="dropdown-item" href="#" id="kitbutton">Kit Lines</a></li>
      </ul>
    </div>
    <div style="padding: 10px;">
      <button class="btn btn-secondary" id="printButton"> <!--onclick="window.print()-->
        <i class="fa fa-print"></i>
      </button>
    </div>    
  </div>
    {% if user.is_staff %}
      <br>
      <div class="dropdown" style="margin-left:10px;">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Issue Sheets
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/core/batch-issue-table/INLINE/nextDay" id="inlineIssueSheetLink" target="_blank">Inline</a></li>
          <li><a class="dropdown-item" href="/core/batch-issue-table/PD LINE/nextDay" id="pdlineIssueSheetLink" target="_blank">PD Line</a></li>
          <li><a class="dropdown-item" href="/core/batch-issue-table/JB LINE/nextDay" id="jblineIssueSheetLink" target="_blank">JB Line</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/core/batch-issue-table/all/nextDay" id="jblineIssueSheetLink" target="_blank">ALL ISSUE SHEETS</a></li>
        </ul>
      </div>
    {% endif %}
    </div>
  <div id='scheduleframe' data-include="scheduledata"></div>
  <script>
    document.getElementById('printButton').onclick = function() {
      // Get the first page content
      let content = document.querySelector('#scheduleframe');
  
      // Calculate the aspect ratio ofa the content
      let contentAspectRatio = content.offsetWidth / (content.offsetHeight/2);
  
      // Calculate the aspect ratio of an 8.5x11" paper (in portrait orientation)
      let paperAspectRatio = 8.5 / 11;

      // Determine the orientation and scale based on the aspect ratios
      let orientation, scale;
      if (contentAspectRatio > paperAspectRatio) {
          // If the content aspect ratio is greater, use landscape orientation
          orientation = 'landscape';
          scale = ((11 / content.offsetWidth) * 96) * 0.96; // 96 pixels per inch
      } else {
          // Otherwise, use portrait orientation
          orientation = 'portrait';
          scale = ((8.5 / content.offsetWidth) * 96)  * 0.96; // 96 pixels per inch
      }
  
      // Apply the scale and orientation to the content
      content.style.transform = `scale(${scale})`;
      content.style.transformOrigin = '0 0';
  
      // Add a style element to the head of the document to set the page size
      let styleElement = document.createElement('style');
      styleElement.textContent = `
        @page { size: ${orientation}; }
        #scheduleframe ~ * { display: none !important; }
        #controlbuttons { display: none !important; }
        .dropdown { display: none !important; }
        header { display: none !important; }
      `;     
      document.head.appendChild(styleElement);
  
      // Call the print function
      window.print();
  
      // Remove the style element and reset the transform after printing
      document.head.removeChild(styleElement);
      content.style.transform = '';
      content.style.transformOrigin = '';
  }  </script>
{% endblock content %}
<!-- End Body -->
