{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">KPK-App</a>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <!---admin nav link only appears if an admin is logged in-->
                            <a class="nav-item nav-link" href="/core/safetychecklist">Forklift Checklist</a>
                            <a class="nav-item nav-link" href="/core/blendthese">Blends</a>
                            <a class="nav-item nav-link" href="/core/lotnumbersfromexcel">Lot Numbers</a>
                            {% if user.is_staff %}
                                <a class="nav-item nav-link" href="/admin">Admin</a>
                            {% endif %}
                        </div>
                        <div class="navbar-nav" class='text-right'>
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!---->
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}{% endblock %}
                </div>
                
            </div>
        </main>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
    <footer>
        <br></br>
    </footer>
</html>