{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>  
        <link href="https://code.jquery.com/ui/1.13.1/themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" /> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">
        {% block title %}<title>The Blendverse</title>{% endblock %}

        {% block scripts %}{% endblock %}

    </head>
    <body>
        <header class="site-header">
            <!--Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">KPK-App</a>
                    <!--Collapse button-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>    
                        <!--Collapsable content-->
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/core/forkliftchecklist">Forklift Checklist</a>
                                </li>
                                {% if user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/core/blendthese">Blend Shortages</a>
                                </li>
                                <li class="nav-item">    
                                    <a class="nav-link" href="/core/lotnumrecords">Lot Numbers</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">    
                                    <a class="nav-link" href="/core/reports">Reports</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Issue Sheets
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" id="inlineissue" href="">INLine</a></li>
                                      <li><a class="dropdown-item" id="pdlineissue" href="">PD Line</a></li>
                                      <li><a class="dropdown-item" id="jblineissue" href="">JB Line</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Blend Schedules
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" href="/core/blendschedule/Desk1">Desk 1</a></li>
                                      <li><a class="dropdown-item" href="/core/blendschedule/Desk2">Desk 2</a></li>
                                      <li><a class="dropdown-item" href="/core/blendschedule/Hx">Horix</a></li>
                                      <li><a class="dropdown-item" href="/core/blendschedule/Dm">Drums</a></li>
                                      <li><a class="dropdown-item" href="/core/blendschedule/Totes">Totes</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="/core/blendschedule/all">All Blends</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Batch Issue Table
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" href="/core/batchIssueTable/INLINE">INLine</a></li>
                                      <li><a class="dropdown-item" href="/core/batchIssueTable/PDLINE">PD Line</a></li>
                                      <li><a class="dropdown-item" href="/core/batchIssueTable/JBLINE">JB Line</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="/core/batchIssueTable/all">All Lines</a></li>
                                    </ul>
                                </li>
                            <!---admin nav link only appears if an admin is logged in-->
                                {% if user.is_staff %}
                                <li class="nav-item">    
                                    <a class="nav-link" href="/admin">Admin</a>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="navbar-nav" class='text-right'>
                                {% if user.is_authenticated %}
                                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                                {% else %}
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                {% endif %}
                            </div>
                        </div>
                </div>
            </nav>
        </header>
        <!---->
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}{% endblock %}
                </div>

            </div>
        </main>
    </body>
    <footer>
        <br></br>
    </footer>
    <script>
        //this 
        $(function() { 
            const tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            day = tomorrow.getDate();
            month = tomorrow.getMonth()+1;
            year = tomorrow.getFullYear();
            tomorrowString = month+'-'+day+'-'+year;
            $("#inlineissue").attr("href", "/core/issuesheets/INLINE/"+tomorrowString);
            $("#pdlineissue").attr("href", "/core/issuesheets/PD LINE/"+tomorrowString);
            $("#jblineissue").attr("href", "/core/issuesheets/JB LINE/"+tomorrowString);            
        });
    </script>
</html>