{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class='text-left'>
        <h1>Home</h1>
    </div>
  {% if user.is_authenticated %}
    Hi {{ user.first_name }}!
    <br><br>
    {% if user.is_staff or user.username == 'kkeyes' %}
      {% include 'core/blendmanagerhome.html' %}
    {% endif %}
    {% comment %} <a class="btn btn-secondary" href="/core/forklift-checklist">Create New Forklift Log</a> {% endcomment %}
  {% else %}
    <p class='text-left'>You are not logged in.</p>
    <br>
    <h2 class='text-center'>Login</h2>
    <form method="post" action="/accounts/login/" class='text-center'>
      {% csrf_token %}
      <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"></p>
      <p><label for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password"></p>
      <button type="submit">Log In</button>
    </form>
  {% endif %}    

{% endblock content %}

