.HxRow {
    background-color: rgb(183, 240, 202);
}

.DmRow {
    background-color: rgb(255, 195, 167);
}

.TotesRow { 
    background-color: rgb(255, 237, 138);
}

.PailsRow { 
    background-color: rgb(255, 237, 138);
}

.dropdown-toggle {
    
}

